.btn_1, .banner_part .banner_text .btn_1 {
    background-image: linear-gradient(131deg, #010101, #9d9d9d, #2a2a2a, #000000);
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.15)
}
.to-top-flex{
    align-items: flex-start
}
.menu_fixed{
    height: 100px
}
#Logo{
    height: 150px;
    transition: .5s;
}
.event-page .card{
    margin: 0px;
    border-radius: 1rem
}
.card-body{
/*    padding: 1rem 1.5rem;*/
    border-radius: 1rem;
    min-height: 350px;
}
.card-body:hover{
    box-shadow: 0px 5px 10px #555;
    transition: .5s
}
.card-body h3{
/*    text-align: center;*/
    color: #fff
}
.card-body p{
    font-size: 18px
}
.card-body ul li{
    font-size: 18px;
    margin-bottom: 5px
}
.card-body a{
    color: #fff
}
.card-body a:hover{
    color: #ebebff
}
.jul{
    background-color: #000066;
/*    background: linear-gradient(131deg, #000066, #003366, #007bff, #003399)*/
    background: linear-gradient(131deg, #000066, #007bff)
}
.aug{
    background-color: #003399;
    background: linear-gradient(131deg, #6e48aa, #9d50bb)
    
}
.sep{
    background-color: #003366;
    background: linear-gradient(131deg, #185a9d, #43cea2)
}
.oct{
    background-color: #003333;
    background: linear-gradient(131deg, #f15f79, #b24592)
}
.nov{
    background-color: #003300;
    background: linear-gradient(131deg, #005313, #0fd33b)
}
.dec{
    background-color: #330066;
    background: linear-gradient(131deg, #330066, #8744c9)
}
.jan{
    background-color: #660066;
    background: linear-gradient(131deg, #660066, #ff8dff)
}
.feb{
    background-color: #990033;
    background: linear-gradient(131deg, #990033, #ff6296)
}
.mar{
    background-color: #663333;
    background: linear-gradient(131deg, #663333, #e39d9d)
}
.apr{
    background-color: #996600;
    background: linear-gradient(131deg, #996600, #ebb74d)
}
.may{
    background-color: #380000;
    background: linear-gradient(131deg, #380000, #8f4444)
}
.jun{
    background-color: #330033;
    background: linear-gradient(131deg, #330033, #ff00ff)
}
.modal-dialog{
    max-width: 1000px;
    color: #fff
}
.modal-title{
    color: #fff
}
.modal-body p{
    color: #fff
}
.btn_2{
    background-image: linear-gradient(131deg, #010101, #9d9d9d, #2a2a2a, #000000);
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.15)
}
.top-header-bar{
    background: #000;
    color: #fff;
    padding: .5em 0
}
.top-header-bar a{
    color: #fff
}
.top-header-bar a:hover{
    color: #c1c1c1
}
.top-header-bar p{
    color: #fff
}
.top-header-bar .social a{
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    text-align: center;
    display: inline-block
}
.top-header-bar .social a:hover{
    background-color: #fff;
    color: #000
}
.home_menu{
    top: 35px
}
.banner_part{
    background-image: url(../img/new-banner_bg.png)
}
.modal-header .close {
    color: #fff
}
#home_menu_id{
    transition: .25s
}
/*Blood Bank style start*/
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}
#myTable span{
    font-size: 12px
}
table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}
.horizontal_scroll{
    overflow-x: auto;
}

/*Blood Bank style End*/

@media screen and (max-width: 600px){
/*
    .home_menu{
        top: 25px !important
    }
*/
    .banner_part{
        background-size: 60%
    }
}