.btn_1, .banner_part .banner_text .btn_1 {
    background-image: linear-gradient(131deg, #010101, #9d9d9d, #2a2a2a, #000000);
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.15)
}
.to-top-flex{
    align-items: flex-start
}
.menu_fixed{
    height: 100px
}
#Logo{
    height: 150px;
    transition: .5s;
}
/*
.event-page .card{
    margin: 0px;
    border-radius: 1rem
}
*/
.card{
    margin: 0px;
    border-radius: 1rem
}
.card-body{
/*    padding: 1rem 1.5rem;*/
    border-radius: 1rem;
    min-height: 350px;
}
.card-body:hover{
    box-shadow: 0px 5px 10px #555;
    transition: .5s
}
.card-body h3{
/*    text-align: center;*/
    color: #fff
}
.card-body p{
    font-size: 18px
}
.card-body ul li{
    font-size: 18px;
    margin-bottom: 5px
}
.card-body a{
    color: #fff
}
.card-body a:hover{
    color: #ebebff
}
.main-color-background{
    background: linear-gradient(130deg, #2b2b2b, #737373);
}
.jul{
    background-color: #000066;
    background: linear-gradient(131deg, #000066, #007bff)
}
.jul-light{
    background:
linear-gradient(63deg, #999 23%, transparent 23%) 7px 0,
linear-gradient(63deg, transparent 74%, #999 78%),
linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%),
#444;
background-size: 16px 48px;
}
.aug{
    background-color: #003399;
    background: linear-gradient(131deg, #6e48aa, #9d50bb)    
}
.aug-light{
    background:
    linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color:#708090;
    background-size: 64px 128px;
}
.sep{
    background-color: #185a9d;
    background: linear-gradient(131deg, #185a9d, #43cea2)
}
.events-back-main{
    background-color: #6d695c;
    background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
}
.oct{
    background-color: #003333;
    background: linear-gradient(131deg, #f15f79, #b24592)
}
.nov{
    background-color: #003300;
    background: linear-gradient(131deg, #005313, #0fd33b)
}
.dec{
    background-color: #330066;
    background: linear-gradient(131deg, #330066, #8744c9)
}
.jan{
    background-color: #660066;
    background: linear-gradient(131deg, #660066, #ff8dff)
}
.feb{
    background-color: #990033;
    background: linear-gradient(131deg, #990033, #ff6296)
}
.mar{
    background-color: #663333;
    background: linear-gradient(131deg, #663333, #e39d9d)
}
.apr{
    background-color: #996600;
    background: linear-gradient(131deg, #996600, #ebb74d)
}
.may{
    background-color: #380000;
    background: linear-gradient(131deg, #380000, #8f4444)
}
.jun{
    background-color: #330033;
    background: linear-gradient(131deg, #330033, #ff00ff)
}
.modal-dialog{
    max-width: 1000px;
    color: #fff
}
.modal-title{
    color: #fff
}
.modal-body p{
    color: #fff
}
.btn_2{
    background-image: linear-gradient(131deg, #010101, #9d9d9d, #2a2a2a, #000000);
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.15)
}
.top-header-bar{
    background: #000;
    color: #fff;
    padding: .5em 0
}
.top-header-bar a{
    color: #fff
}
.top-header-bar a:hover{
    color: #c1c1c1
}
.top-header-bar p{
    color: #fff
}
.top-header-bar .social a{
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    text-align: center;
    display: inline-block
}
.top-header-bar .social a:hover{
    background-color: #fff;
    color: #000
}
.home_menu{
/*    top: 35px*/
}
.banner_part{
    background-image: url(../img/new-banner_bg-2.png);
    background-color: #eee1d1;
}
.modal-header .close {
    color: #fff
}
#menu_id {
    transition: .25s;
    top: 35px
}
/*Blood Bank style start*/
#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}
#myTable span{
    font-size: 12px
}
table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}
.horizontal_scroll{
    overflow-x: auto;
}
.blood-bank-page .mobile-text{
    display: none
}
/*Blood Bank style End*/

.home-banner-text {
  	font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url(/img/animated_text_fill.jpg) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}
.copyright_part {
    padding: 10px 0px
}
.copyright_part .footer-social a:hover {
    background-color: #000 !important;
}
.copyright_part .footer-social a{
    border: 1px solid #fff
}
/* Event page lightbox gallery Start*/
.photo-gallery {
  color:#313437;
/*  background-color:#fff;*/
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color: #fff
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}
/* Event page lightbox gallery End*/
.card-body hr{
    border-top: 1px solid rgba(255,255,255,.2)
}
.events-border{
    border: 1px solid #e1e1e1;
    padding: 2em 4em;    
    border-radius: 1em
}
.event-page h1{
    text-align: center;
    color: #fff
}
.main_menu .main-menu-item ul li a {
    font-size: 18px;
}
.banner_part .banner_text p {
    font-size: 18px
}
.footer-area{
    padding: 70px 0px 40px
}
.form-group .btn_1 {
    margin-top: 0
}
.form-contact .form-control {
    border: 1px solid #a8a8a8;
    font-size: 18px
}
.single-event-page {
    color: #fff;
    border-radius: 1em
}
.project_details{
    padding: 0
}
.project_details .project_details_widget .single_project_details_widget {
    padding-left: 0 !important;
}
.project_details .project_details_widget .single_project_details_widget span {
    position: relative;
    color: #fff
}
.project_details .project_details_content h3 {
    color: #fff
}
.project_details .project_details_content p{
    color: #efefef;
    font-size: 17px
}
.project_details .project_details_content h5 {
    color: #fff
}
.project_details .project_details_content h4 {
    color: #fff
}
.project_details .project_details_content ul {
    font-size: 16px;
    color: #e1e1e1
}
.project_details .btn{
    margin-top: 0
}
.new-menu{
    background: rgba(255,255,255,.7);
    border-radius: 15px;
    padding: 10px;
}
.footer-area .single-footer-widget p a{
    color: #666666
}
.footer-area .single-footer-widget p a:hover{
    color: #ff7e5f
}
.footer-area .single-footer-widget .footer-social a{
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    border: 1px solid #666666;
    text-align: center;
/*    margin-left: 10px;*/
    color: #666666;
}
.footer-area .single-footer-widget .footer-social a:hover{
    color: #ff7e5f
}
.about_part{
    padding: 0px;
    background: #f3f3f3
}
.about-gallery{
    background: linear-gradient(90deg, #6961a6, #8b4a97)
}
.about-gallery h2{
    font-size: 50px !important;
    font-weight: 300
}
.about-gallery img{
    border-radius: 15px
}
.thank-you{
    padding: 8em 0;
    background: #c5bb9a
}
.hof-gallery .item{
    height: 250px;
    overflow: hidden;
    margin-bottom: 25px
}
.hof-gallery img{
    height: auto;
    min-height: 250px;
    object-fit: cover
}
.hof .intro{
    position: sticky;
    top: 150px;
    z-index: 9;
    max-width: 300px;
    margin: 0;
    border-radius: 35px
}
.hof h2{
    margin: 0 !important;
    padding-top: 0 !important;
    padding-left: 10px;
    text-align: center
}
/*Lightbox nav*/
.lb-nav{
    width: auto !important;
    right: -60px !important;
    left: -60px !important
}
.focus-area h2{
    color: #fff;
    text-align: center
}
.focus-area h4{
    text-align: center
}
.focus-area p{
    color: #e1e1e1;
}
.focus-area img{
    border-radius: 15px 15px 0 0
}
.focus-area .card{
    min-height: 435px;
}
.focus-area .card:hover{
    transform: scale(.95);
    transition: .5s all ease;
}
.fourway {
    padding: 6rem 0;
    background: linear-gradient(130deg, #003a77, #0154ac)
}
.fourway .waybox{
    padding: 0 0 2em 0;
    background: #fff;
    border-radius: 5px;
    min-height: 390px
}
.fourway .waybox:hover{
    transform: scale(.95);
    transition: .5s all ease;
}
.fourway .waybox img{
    border-radius: 5px 5px 0 0;
}
.fourway .waybox h5{
    background: #ffc107;
    padding: 1em;
    word-wrap: break-word;
    border-radius: 50%;
    width: 50px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #191919
}
.fourway .waybox h4{
    color: #003a77
}
.fourway .waybox span{
    color: #007bff
}
.project_details .photo-gallery img{
    height: 300px;
    object-fit: cover
}
@media screen and (max-width: 600px){
/*
    .home_menu{
        top: 25px !important
    }
*/
    .banner_part{
        background-size: 60%
    }
    .blood-bank-page .mobile-text{
        display: block;
        text-align: center
    }
    .banner_text{
        padding-bottom: 20px !important
    }
    .banner_text_iner{
        vertical-align: bottom !important
    }
    .navbar-light .navbar-toggler{
        border-color: #fff
    }
    .hof-gallery .item{
        height: auto;
        margin: 0;
        padding-bottom: 10px
    }
    .hof-gallery img {
        min-height: auto
    }
    .lb-nav{
    width: 100% !important;
    right: 0 !important;
    left: 0 !important
    }
    .fourway .waybox {
        min-height: auto
    }
    .footer-area img{
        display: block;
        margin: 0 auto
    }
    .footer-area h5,h4,p,ul,.footer-social{
        text-align: center
    }
}
@media screen and (max-width: 400px){
    .top-header-bar p{
        font-size: .8em
    }
}