.masonry-with-columns {
  display: flex;
  flex-wrap: wrap;
}
.masonry-with-columns div {
  height: 150px;
  line-height: 150px;
  background: #EC985A;
  color: white;
  margin: 0 1rem 1rem 0;
  text-align: center;
  font-family: system-ui;
  font-weight: 900;
  font-size: 2rem;
  flex: 1 0 auto;
}
.masonry-with-columns div:nth-child(1) {
  width: 359px;
}
.masonry-with-columns div:nth-child(2) {
  width: 381px;
}
.masonry-with-columns div:nth-child(3) {
  width: 405px;
}
.masonry-with-columns div:nth-child(4) {
  width: 432px;
}
.masonry-with-columns div:nth-child(5) {
  width: 341px;
}
.masonry-with-columns div:nth-child(6) {
  width: 106px;
}
.masonry-with-columns div:nth-child(7) {
  width: 448px;
}
.masonry-with-columns div:nth-child(8) {
  width: 168px;
}
.masonry-with-columns div:nth-child(9) {
  width: 468px;
}
.masonry-with-columns div:nth-child(10) {
  width: 404px;
}
.masonry-with-columns div:nth-child(11) {
  width: 173px;
}
.masonry-with-columns div:nth-child(12) {
  width: 205px;
}
.masonry-with-columns div:nth-child(13) {
  width: 210px;
}
.masonry-with-columns div:nth-child(14) {
  width: 124px;
}
.masonry-with-columns div:nth-child(15) {
  width: 257px;
}
.masonry-with-columns div:nth-child(16) {
  width: 80px;
}
.masonry-with-columns div:nth-child(17) {
  width: 377px;
}
.masonry-with-columns div:nth-child(18) {
  width: 179px;
}
.masonry-with-columns div:nth-child(19) {
  width: 412px;
}
.masonry-with-columns div:nth-child(20) {
  width: 412px;
}
.masonry-with-columns div:nth-child(21) {
  width: 401px;
}
.masonry-with-columns div:nth-child(22) {
  width: 367px;
}
.masonry-with-columns div:nth-child(23) {
  width: 214px;
}
.masonry-with-columns div:nth-child(24) {
  width: 102px;
}
.masonry-with-columns div:nth-child(25) {
  width: 119px;
}
.masonry-with-columns div:nth-child(26) {
  width: 310px;
}
.masonry-with-columns div:nth-child(27) {
  width: 220px;
}
.masonry-with-columns div:nth-child(28) {
  width: 183px;
}
.masonry-with-columns div:nth-child(29) {
  width: 392px;
}
.masonry-with-columns div:nth-child(30) {
  width: 366px;
}
.masonry-with-columns div:nth-child(31) {
  width: 382px;
}
.masonry-with-columns div:nth-child(32) {
  width: 232px;
}
.masonry-with-columns div:nth-child(33) {
  width: 255px;
}
.masonry-with-columns div:nth-child(34) {
  width: 97px;
}
.masonry-with-columns div:nth-child(35) {
  width: 348px;
}
.masonry-with-columns div:nth-child(36) {
  width: 436px;
}