---
layout: default
permalink: /newsletter/
title: Newsletter | Rotaract Club of Koramangala - Rotaract Bangalore
image: /img/share-logo.png
---

<!-- <section class="sep">
    <style>
    #newsletter1, #newsletter2{
        width: 700px;
        height: 500px;
    }
    #newsletter1 .turn-page{
        background-size: contain;
    }

    #newsletter2 .turn-page{
        background-size: contain;
    }
    .cover{
        box-shadow: 0px 5px 5px rgb(160, 158, 158);
        cursor: pointer;
    }
    </style>

    <div class="container">
        <h1 class="text-center text-light py-3"><u>2023-24</u></h1>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 mx-5" type="button" data-toggle="modal" data-target="#nl1">
                <img src="/img/bulletin23-24/1/1.webp" class="cover" alt="RaCK Bulletin">
                <h2 class="text-light text-center my-2">Quarter 1</h2>
            </div>
            <div class="col-lg-4 mx-5" type="button" data-toggle="modal" data-target="#nl2">
                <img src="/img/bulletin23-24/2/1.webp" class="cover" alt="RaCK Bulletin">
                <h2 class="text-light text-center my-2">Quarter 2 & 3</h2>
            </div>
        </div>
    </div>

    <div class="modal fade" id="nl1">
        <button type="button" class="close position-absolute top-0 right-0" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-dialog" style="max-width:max-content">
            <div class="modal-content align-items-center p-2">
                <div id="newsletter1">
                    {% for i in (1..33) %}
                    <div style="background-image: url(/img/bulletin23-24/1/{{ i }}.webp);"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="nl2">
        <div class="modal-dialog" style="max-width:max-content">
            <div class="modal-content align-items-center p-2">
                <div class="position-absolute">
                    <button type="button" class="close position-absolute top-0 right-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="newsletter2">
                    {% for i in (1..48) %}
                    <div style="background-image: url(/img/bulletin23-24/2/{{ i }}.webp);"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/turn.js"></script>
    <script>
        $('#newsletter1').turn({gradients: true, acceleration: true});
        $('#newsletter2').turn({gradients: true, acceleration: true});

        window.addEventListener('resize', function() {
            const width = window.innerWidth;
            const height = window.innerHeight;
            
            var nl1 = document.getElementById("newsletter1");
            nl1.style.width = "80vw";
            nl2.style.height = toString(80*1.4)+"vw";
            $('#newsletter1').turn('display', single);
            
        });
    </script>

</section> -->

<div class="news-col">

    Filter menu
    <div class="news-menu">
        <ul class="news-menu-mob">
            <li>
                <a href="#quat23">
                    <h2 class="pt-3 pb-3 mb-0 text-center newsbtn">
                        2023-24
                    </h2>
                </a>
            </li>
        </ul>
    </div>

    <h2 class="text-center newsyrtitle">2023-24</h2>

    <div class="text-center quat">
        <span class="quat-underline">Quarter 2 and 3</span>:
        <span>October - March</span>
    </div>

    <div class="newsyellowhr">
        <hr>
    </div>

    <div id="quat23" class="container pdf-cont" data-aos="fade-up">
        <iframe allowfullscreen="allowfullscreen" scrolling="no" class="fp-iframe"
            src="https://heyzine.com/flip-book/950ef9e6c5.html"
            style="border: 1px solid lightgray; width: 100%; height: 800px;"></iframe>
    </div>

    <div class="text-center quat">
        <span class="quat-underline">Quarter 1</span>:
        <span>July - September</span>
    </div>

    <div class="newsyellowhr">
        <hr>
    </div>

    <div id="quat23" class="container pdf-cont" data-aos="fade-up">
        <iframe allowfullscreen="allowfullscreen" scrolling="no" class="fp-iframe"
            src="https://heyzine.com/flip-book/6fa332f143.html"
            style="border: 1px solid lightgray; width: 100%; height: 800px;"></iframe>
    </div>

</div>
