---
layout: default
permalink: /showcase-2023-24/
title: Showcase 2023-2024 | Rotaract 3190
image: /img/share-logo.png
---

<div class="photo-gallery feb hof">
  <div class="hof-gallery">
    <div class="container-fluid py-3">
      <div class="intro feb pt-3 pb-3 mb-0">
        <h2>February - 2024</h2>
      </div>
      <div class="row photos justify-content-center pt-3">
        {% for item in site.data.showcase.feb2024 %}
        <div class="{{item.size}} item">
          <a href="{{item.img}}" data-lightbox="photos"
            ><img
              class="img-fluid"
              src="{{item.img}}"
              alt="{{item.alt}}"
          /></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="photo-gallery jan hof">
  <div class="hof-gallery">
    <div class="container-fluid py-3">
      <div class="intro jan pt-3 pb-3 mb-0">
        <h2>January - 2024</h2>
      </div>
      <div class="row photos justify-content-center pt-3">
        {% for item in site.data.showcase.jan2024 %}
        <div class="{{item.size}} item">
          <a href="{{item.img}}" data-lightbox="photos"
            ><img
              class="img-fluid"
              src="{{item.img}}"
              alt="{{item.alt}}"
          /></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="photo-gallery dec hof">
  <div class="hof-gallery">
    <div class="container-fluid py-3">
      <div class="intro dec pt-3 pb-3 mb-0">
        <h2>December - 2023</h2>
      </div>
      <div class="row photos justify-content-center pt-3">
        {% for item in site.data.showcase.dec2023 %}
        <div class="{{item.size}} item">
          <a href="{{item.img}}" data-lightbox="photos"
            ><img
              class="img-fluid"
              src="{{item.img}}"
              alt="{{item.alt}}"
          /></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="photo-gallery nov hof">
  <div class="hof-gallery">
    <div class="container-fluid py-3">
      <div class="intro nov pt-3 pb-3 mb-0">
        <h2>November - 2023</h2>
      </div>
      <div class="row photos justify-content-center pt-3">
        {% for item in site.data.showcase.nov2023 %}
        <div class="{{item.size}} item">
          <a href="{{item.img}}" data-lightbox="photos"
            ><img
              class="img-fluid"
              src="{{item.img}}"
              alt="{{item.alt}}"
          /></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="photo-gallery oct hof">
  <div class="hof-gallery">
    <div class="container-fluid py-3">
      <div class="intro oct pt-3 pb-3 mb-0">
        <h2>October - 2023</h2>
      </div>
      <div class="row photos justify-content-center pt-3">
        {% for item in site.data.showcase.oct2023 %}
        <div class="{{item.size}} item">
          <a href="{{item.img}}" data-lightbox="photos"
            ><img
              class="img-fluid"
              src="{{item.img}}"
              alt="{{item.alt}}"
          /></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="photo-gallery sep hof">
  <div class="hof-gallery">
    <div class="container-fluid py-3">
      <div class="intro sep pt-3 pb-3 mb-0">
        <h2>September - 2023</h2>
      </div>
      <div class="row photos justify-content-center pt-3">
        {% for item in site.data.showcase.sept2023 %}
        <div class="{{item.size}} item">
          <a href="{{item.img}}" data-lightbox="photos"
            ><img
              class="img-fluid"
              src="{{item.img}}"
              alt="{{item.alt}}"
          /></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="photo-gallery aug hof">
  <div class="hof-gallery">
    <div class="container-fluid py-3">
      <div class="intro aug pt-3 pb-3 mb-0">
        <h2>August - 2023</h2>
      </div>
      <div class="row photos justify-content-center pt-3">
        {% for item in site.data.showcase.aug2023 %}
        <div class="{{item.size}} item">
          <a href="{{item.img}}" data-lightbox="photos"
            ><img
              class="img-fluid"
              src="{{item.img}}"
              alt="{{item.alt}}"
          /></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="photo-gallery jul hof">
  <div class="hof-gallery">
    <div class="container-fluid py-3">
      <div class="intro jul pt-3 pb-3 mb-0">
        <h2>July - 2023</h2>
      </div>
      <div class="row photos justify-content-center pt-3">
        {% for item in site.data.showcase.july2023 %}
        <div class="{{item.size}} item">
          <a href="{{item.img}}" data-lightbox="photos"
            ><img
              class="img-fluid"
              src="{{item.img}}"
              alt="{{item.alt}}"
          /></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
