---
layout: default
permalink: /videos/
title: Videos | Rotaract Club of Koramangala - Rotaract Bangalore
image: /img/about_img_1-new.png
---


<section class="videos-page">
    <h2 class="pb-5 text-center"> 2019 - 2020 </h2> 
    <div class="dec py-5 mb-3">
    <div class="container">        
        <h2 class="text-center text-light">Community Service</h2>
        <div class="row py-5 justify-content-center">
            {% for vid in site.data.videos.community %}
                <div class="col-lg-6">                    
                    <a href="#" data-toggle="modal" data-target="#{{vid.id}}" data-video="{{vid.videolink}}" class="videos-modal"><img src="{{vid.image}}" alt="Rotaract Koramangala Bengaluru Community Services"></a>
                    <h4 class="text-center my-2">{{vid.title}}</h4>                    
                </div>
            {% endfor %}
        </div>        
    </div>
    </div>
    <div class="jan py-5 mb-3">
    <div class="container">        
        <h2 class="text-center text-light">Professional Development</h2>
        <div class="row py-5">
            {% for vid in site.data.videos.profesional %}
                <div class="col-lg-6">                    
                    <a href="#" data-toggle="modal" data-target="#{{vid.id}}" data-video="{{vid.videolink}}" class="videos-modal"><img src="{{vid.image}}" alt="Rotaract Koramangala Bengaluru Professional Development"></a>
                    <h4 class="text-center my-2">{{vid.title}}</h4>                    
                </div>
            {% endfor %}
        </div>        
    </div>
    </div>
    <div class="jul py-5">
    <div class="container">        
        <h2 class="text-center text-light">Club Service</h2>
        <div class="row py-5">
            {% for vid in site.data.videos.club %}
                <div class="col-lg-4">                    
                    <a href="#" data-toggle="modal" data-target="#{{vid.id}}" data-video="{{vid.videolink}}" class="videos-modal"><img src="{{vid.image}}" alt="Rotaract Koramangala Bengaluru Club Services"></a>
                    <h4 class="text-center my-2">{{vid.title}}</h4>                    
                </div>
            {% endfor %}
        </div>        
    </div>
    </div>
</section>

<!-- Modal Comunity Service-->
{% for vid in site.data.videos.community %}
    <div id="{{vid.id}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">      
          <div class="modal-body">

            <iframe width="100%" height="500" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </div>
        </div>
      </div>
    </div>
{% endfor %}

<!-- Modal Professional Development-->
{% for vid in site.data.videos.profesional %}
    <div id="{{vid.id}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">      
          <div class="modal-body">

            <iframe width="100%" height="500" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </div>
        </div>
      </div>
    </div>
{% endfor %}


<!-- Modal Club Service-->
{% for vid in site.data.videos.club %}
    <div id="{{vid.id}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">      
          <div class="modal-body">

            <iframe width="100%" height="500" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </div>
        </div>
      </div>
    </div>
{% endfor %}