---
layout: default
type: home
title: Rotaract Club Koramangala
image: logo-small.png
---

    {% include banner.html %}
    {% include about.html %}
    
    <div class="container my-5">
    <h1 style="text-align: center">Our Famous Events</h1>
    <div class="event-wrapper row">
    <div class="event-container col-12 col-lg-4" id="c2">
		<div class="image" id="i2">
			<div class="city">
			<img src="img/events/election-walkathon.jpg" alt="">
			</div>
		</div>
		<div class="story" id="s2">
			<div class="info">
			<h3 class="event-h3">ELECTION AWARENESS WALKATHON</h3>
			<p class="event-p">Election Awareness for upcoming 2019 Lok Sabha Elections. Event started at Mahatma Gandhi Statue near Cubbon Park.</p>

			</div>
		</div>
	</div>
	<div class="event-container col-12 col-lg-4" id="c0">
		<div class="image" id="i0">
			<div class="city">
			<img src="img/events/polio-walkathon.jpg" alt="">
			</div>
		</div>
		<div class="story" id="s0">
			<div class="info">
			<h3 class="event-h3">Awareness Walkathon on Polio & Measles and Rubella</h3>
			<p  class="event-p">Event started at Mahatma Gandhi Statue near Cubbon Park where Polio Aprons & Caps were distributed along with the banners to sponsored Rotary Clubs.</p>
			</div>
		</div>
	</div>
	<div class="event-container col-12 col-lg-4" id="c1">
		<div class="image" id="i1">
			<div class="city">
			<img src="img/events/christmas-2017.jpg" alt="">
			</div>
		</div>
		<div class="story" id="s1">
			<div class="info">
				<h3 class="event-h3">RCK Christmas Day Celebration</h3>
			<p class="event-p">Marking the occasion of Christmas, we decide to spend some time with Kaggalipura Village school kids & ourselves</p>
			</div>
		</div>
	</div>
	</div>
	<div class="event-wrapper row">
	<div class="event-container col-12 col-lg-4" id="c1">
		<div class="image" id="i4">
			<div class="city">
			<img src="img/events/game-point.jpg" alt="">
			</div>
		</div>
		<div class="story" id="s4">
			<div class="info">
            <h3 class="event-h3">GAME POINT v3.0 - Badminton Event </h3>
			<p class="event-p">Badminton Event</p>
			</div>
		</div>
	</div>
	<div class="event-container col-12 col-lg-4" id="c0">
	    <a href="/events/club-outing-at-srs-hills/">
		<div class="image" id="i5">
			<div class="city">
			<img src="img/events/Club-Outing-SRS-Hills.jpg" alt="">
			</div>
		</div>
		<div class="story" id="s5">
			<div class="info">
			<h3 class="event-h3">Club Outing @ SRS Hills</h3>
			<p  class="event-p">Team Building activities with fun and treking at SRS Hill 🏕🏔 <br>Date 🗓- 18th August.</p>
			</div>
		</div>
        </a>
	</div>

	<div class="event-container col-12 col-lg-4" id="c2">
	<a href="/events/rac-koramangala-installation/">
		<div class="image" id="i6">
			<div class="city">
			<img src="img/events/Installation-2019-20.jpg" alt="">
			</div>
		</div>
		<div class="story" id="s6">
			<div class="info">
			<h3 class="event-h3">RaC Koramangala || Installation 2019 - 20</h3>
			<p class="event-p">Rtr. Shubham & Rtr. Sanjay presented last year's project report 📜📈
			<br>Rtr. Anurag got appointed as President and gave his acceptance speech. 👨🏻‍🎓</p>

			</div>
		</div>
        </a>
	</div>
	</div>
	</div>

    <!-- our_service_part part start-->
    <!--::blog_part start::-->

<section class="focus-area main-color-background py-5 mt-5">
    <div class="container">
        <h2 class="text-center">Rotary's Areas of Focus</h2>
        <p class="my-3 text-center">The work of Rotary begins in the community and every community has its own unique needs and concerns. While we serve in countless ways, we've focused our efforts in six key areas to maximize our impact. These areas encompass some of the world's most critical and widespread humanitarian needs and we have a proven record of success in addressig them:</p>
        <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4 border-0">
                <img src="img/focus-area/home-causes-peace,w_360.jpg" alt="">
                <h4 class="my-3">Peace and Conflict Prevention / Resolution</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 border-0">
            <img src="img/focus-area/home-causes-disease,w_360.jpg" alt="">
            <h4 class="my-3">Disease prevention and treatment</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 border-0">
            <img src="img/focus-area/home-causes-water,w_360.jpg" alt="">
            <h4 class="my-3">Water and Sanitation</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 border-0">
            <img src="img/focus-area/home-causes-children,w_360.jpg" alt="">
            <h4 class="my-3">Maternal and Child Health</h4>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="card mb-4 border-0">
            <img src="img/focus-area/home-causes-education,w_360.jpg" alt="">
            <h4 class="my-3">Basic Edutcation and Leteracy</h4>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="card mb-4 border-0">
            <img src="img/focus-area/home-causes-economies,w_360.jpg" alt="">
            <h4 class="my-3">Economic and Community Development</h4>
            </div>
        </div>
        </div>
    </div>    
</section>
<section class="fourway">
    <div class="container-fluid">
        <h2 class="text-center text-light">The Four Way Test</h2>
        <h4 class="mt-3 text-center text-light">of the things we think, say or do</h4>
        <div class="row my-5">
            <div class="col-lg-3">                
                <div class="waybox m-1">
                <img src="img/four-way/truth.jpg" alt="">
                <h5 class="mt-3">1</h5>                 
                <h4 class="text-center mt-3">Is it the <span>TRUTH</span>?</h4>                
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="waybox m-1">
                <img src="img/four-way/fair.jpg" alt="">
                <h5 class="mt-3">2</h5> 
                <h4 class="text-center mt-3">Is it <span>FAIR</span> to all concerned?</h4>
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="waybox m-1">
                <img src="img/four-way/friendship.jpg" alt="">
                <h5 class="mt-3">3</h5> 
                <h4 class="text-center mt-3">Will it build <span>GOODWILL</span> & <span>BETTER FRIENDSHIPS</span>?</h4>
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="waybox m-1">
                <img src="img/four-way/benefit.jpg" alt="">
                <h5 class="mt-3">4</h5> 
                <h4 class="text-center mt-3">Will it be <span>BENEFICIAL</span> to all concerned?</h4>
                </div>
            </div>
        </div>
    </div>
</section>