<!-- about part start-->
<section class="about_part py-5">
    <div class="container">
        <div class="row align-items-center justify-content-end">
            <div class="col-md-6 col-lg-6 col-xl-5">
                <div class="about_img">
                    <img src="/img/about_img_1-new.png" alt="About Rotaract Koramangala Bengaluru">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 offset-xl-1 col-xl-6">
                <div class="about_text">
                    <h2>The Face of Change</h2>
                    <p>Rotaract Club of Koramangala is a community based club of youngsters (18 to 30 years of age).We organize and participate in projects with an aim to create a change in the society. We belong to Rotary International District 3191 (operates in and around Bangalore,India) of Rotary International Foundation.</p>
                    <a href="/about/" class="btn_2">read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
