
    <!-- banner part old start-->
<!--
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1 class="home-banner-text">Rotaract Club of Koramangala, <br> RID : 3190</h1>
                            <p>A community based club of youngsters (18 to 30 years of age)</p>
                            <a href="/events/" class="btn_1">learn more </a>
                            <a href="https://www.youtube.com/watch?v=pBFQdxA-apI" class="popup-youtube video_popup">
                                <span><img src="img/icon/play.svg" alt=""></span> Intro Video</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
    <!-- banner part old end-->

<section class="kenburn">
<h1><small>RID : 3190</small> Rotaract Club of Koramangala <small>A community based club of youngsters.</small></h1>

<!-- You can add more ".slideshow-image" elements, but remember to update the "$items" variable on SCSS -->
<div class="slideshow">  
  <div class="slideshow-image" style="background-image: url('/img/events/Installation-2019-20.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('/img/events/polio-walkathon.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('/img/events/game-point.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('/img/events/election-walkathon.jpg')"></div>  
</div>
</section>