<section class="kenburn">
  <h1>
    <small>RI Dist. 3191</small> Rotaract Club of Koramangala
    <small>A community based club of youngsters.</small>
  </h1>

  <!-- You can add more ".slideshow-image" elements, but remember to update the "$items" variable on SCSS -->
  <div class="slideshow">
    <div class="slideshow-image" style="background-image: url('/img/events/installation23-24.jpg')"></div>
    <div class="slideshow-image" style="background-image: url('/img/events/teamYWCA.jpg')"></div>
    <div class="slideshow-image" style="background-image: url('/img/events/banner-2020.jpg')"></div>
    <div class="slideshow-image" style="background-image: url('/img/events/Installation-2019-20.jpg')"></div>
    <div class="slideshow-image" style="background-image: url('/img/events/polio-walkathon.jpg')"></div>
    <div class="slideshow-image" style="background-image: url('/img/events/rotafit.jpg')"></div>
    <div class="slideshow-image" style="background-image: url('/img/events/election-walkathon.jpg')"></div>
  </div>
</section>