<div class="row justify-content-center">
  <div class="col-md-4 col-lg-4 mb-4">
    <div class="card h-100">
      <div class="card-body jul p-4">
        <h3>July 2021</h3>
        <hr />
        {% for row in site.data.events-all.y2022.july %} {% for eventsData in
        row[1] %}
        <p>
          <a href="/events/{{eventsData.eventLink}}/"
            >{{eventsData.eventDateName}}</a
          >
        </p>
        <hr />
        {% endfor %} {% endfor %}
      </div>
    </div>
  </div>
</div>
