<div class="row justify-content-center">
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body jul p-4">
                <h3>July 2017</h3>
                <hr>
                <p><a href="/events/rack-installation-17-18/">30th - Rotaract Club of Koramangala Installation 2017</a></p>
                <hr>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body aug p-4">
                <h3>August 2017</h3>
                <hr>
                <p><a href="/events/joint-club-outing/">06th - Joint Club Outing</a></p>
                <hr>
                <p><a href="/events/rewind-3/">06th - Rewind 3</a></p>
                <hr>
                <p><a href="/events/talk-teach-mission/">08th - Talk – Teach Mission</a></p>
                <hr>
                <p><a href="/events/independence-day-school-visits/">15th - Independence Day – School Visits</a></p>
                <hr>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body sep p-4">
                <h3>September 2017</h3>
                <hr>
                <p><a href="/events/rototech-2017/">09th - RotoTech 2017</a></p>                            
                <hr>
                <p><a href="/events/green-clean-eco-drive/">09th - Green Clean Eco Drive</a></p>
                <hr>
                <p><a href="/events/rotary-cyclothon-bengaluru/">10th - Rotary Cyclothon Bengaluru</a></p>
                <hr>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body oct p-4">
                <h3>October 2017</h3>
                <hr>
                <p><a href="/events/share-care-smile-2-0/">07th - Share Care & Smile 2.0</a></p>
                <hr>
                <p><a href="/events/gift-a-meal/">14th - Gift a Meal</a></p> 
                <hr>
                <p><a href="/events/game-point-v2-0/">15th - Game Point v2.0</a></p>
                <hr>
                <p><a href="/events/rck-club-outing-cleanliness-drive/">29th - RCK Club Outing & Cleanliness Drive</a></p>
                <hr>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body nov p-4">
                <h3>November 2017</h3>
                <hr>
                <p><a href="/events/badminton-with-rotarians/">12th - Badminton with Rotarians</a></p>
                <hr>
                <p><a href="/events/children-day-celebration/">12th - Children's Day Celebration</a></p> 
                <hr>
                <p><a href="/events/bengaluru-maker-faire/">17 & 18 - Bengaluru Maker Faire</a></p>
                <hr>
            </div>
        </div>
    </div>
    
<!--
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body dec p-4">
                <h3>December 2017</h3>
                <hr>
                <p><a href="/events/one-wonder-many-wonder/">23rd - One Wonder Many Wonder</a></p>
                <hr>
                <p><a href="/events/child-abuse-jagruti/">Know Your BODs</a></p>
                <hr>
                <p><a href="/events/being-santa/">23rd - Plastic Free Bangalore</a></p>
                <hr>                
                <p><a href="/events/aol-ashram-tour-secret-santa/">25th - Joy of Giving</a></p> 
                <hr>
            </div>
        </div>
    </div>
-->
    
<!--
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body jan p-4">
                <h3>January 2018</h3>
                <hr>
                <p><a href="/events/national-youth-day/">12th - National Youth Day</a></p>
                <hr>
                <p><a href="/events/letter-to-our-soldiers-v2-0/">20th - Letter to Our Soldiers v2.0</a></p>
                <hr>
                <p><a href="/events/step-out-live-it-v2-0/">20th - Step Out. Live It. v2.0</a></p>
                <hr>                
                <p><a href="/events/visit-to-gfct-orphanage/">27th - Visit to GFCT Orphanage</a></p> 
                <hr>
            </div>
        </div>
    </div>
-->
    
<!--
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body feb p-4">
                <h3>February 2018</h3>
                <hr>
                <p><a href="/events/wetlands-awareness-5k-walkathon/">03rd - Wetlands Awareness 5k Walkathon</a></p>
                <hr>
                <p><a href="/events/reminiscense-v1.6/">17th - Reminiscense v1.6</a></p>
                <hr>
                <p><a href="/events/feb-letter-head-exchange-meet/">21-23 - Letter Head Exchange Meet</a></p>
                <hr>                
                <p><a href="/events/hosting-rotasia-sl-team-pdrr/">25th - Hosting Rotasia SL team & PDRR</a></p> 
                <hr>
            </div>
        </div>
    </div>
-->
    
<!--
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body mar p-4">
                <h3>March 2018</h3>
                <hr>
                <p><a href="/events/wild-blues-world-wildlife-day/">03rd - Wild Blues - World Wildlife Day</a></p>
                <hr>
                <p><a href="/events/national-polio-immunization-day/">10th - National Polio Immunization Day</a></p>
                <hr>
                <p><a href="/events/world-rotaract-week-celebrations/">16th - World Rotaract Week Celebrations</a></p>
                <hr>                
                <p><a href="/events/visit-to-doddaballapur-school/">30th - Visit to Doddaballapur School</a></p> 
                <hr>
            </div>
        </div>
    </div>
-->
    
<!--
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body apr p-4">
                <h3>April 2018</h3>
                <hr>
                <p><a href="/events/visit-to-pyramid-valley/">07th - Visit to Pyramid valley</a></p>
                <hr>
                <p><a href="/events/election-awareness-walkathon/">14th - Election Awareness Walkathon</a></p>
                <hr>
            </div>
        </div>
    </div>
-->
    
<!--
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body may p-4">
                <h3>May 2018</h3>
                <hr>
                <p><a href="/events/rewind-dov-drr-official-visit/">12th - Rewind – DOV (DRR’s Official Visit)</a></p>
                <hr>
            </div>
        </div>
    </div>
-->
    
<!--
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body jun p-4">
                <h3>June 2018</h3>
                <hr>
                <p><a href="/events/rotaract-overview/">02nd - Rotaract Overview</a></p>
                <hr>
                <p><a href="/events/world-environment-day/">09th - World Environment Day</a></p>
                <hr>
                <p><a href="/events/international-day-of-yoga/">22nd - International Day of Yoga</a></p>
                <hr>
            </div>
        </div>
    </div>
-->
</div>