<div class="row justify-content-center">
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body jul p-4">
                <h3>July 2018</h3>
                <hr>
                <p><a href="/events/rotaract-orientation-01/">06th - Rotaract Orientation - 01</a></p>
                <hr>
                <p><a href="/events/rotaract-orientation-02/">11th - Rotaract Orientation - 02</a></p>
                <hr>
                <p><a href="/events/yoga-day-celebrations/">15th - Yoga Day Celebrations</a></p>
                <hr>                
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body aug p-4">
                <h3>August 2018</h3>
                <hr>
                <p><a href="/events/club-installation-2018-2019/">05th - RaCK’s Installation</a></p>
                <hr>
                <p><a href="/events/independence-day-celebration/">15th - Independence Day Celebration</a></p>
                <hr>
                <p><a href="/events/august-lhe-04-meeting-drr-3160/">19th - August: LHE 04 & Meeting DRR 3160</a></p>
                <hr>
                <p><a href="/events/drop-off-for-kerala-kodagu/">20-21 - Drop Off - for Kerala & Kodagu</a></p>
                <hr>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body sep p-4">
                <h3>September 2018</h3>
                <hr>
                <p><a href="/events/zonal-conference/">02nd - Zonal Conference</a></p>                            
                <hr>
                <p><a href="/events/world-suicide-prevention-day/">10th - World Suicide Prevention Day</a></p>
                <hr>
                <p><a href="/events/step-out-live-it/">16th & 30th - Step Out. Live It.</a></p>
                <hr>
                <p><a href="/events/sep-rotary-day/">22nd - Rorary Day</a></p>
                <hr>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body oct p-4">
                <h3>October 2018</h3>
                <hr>
                <p><a href="/events/game-point-2018-2019/">07th - Game Point V3.0</a></p> 
                <hr>
                <p><a href="/events/lake-cleaning-restoration/">13 , 21 & 11 - Lake Cleaning & Restoration</a></p>
                <hr>
                <p><a href="/events/food-distribution-to-patients/">22nd - Food Distribution to Patients</a></p>
                <hr>
                <p><a href="/events/awareness-walkathon/">28th - Awareness Walkathon</a></p>
                <hr>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body nov p-4">
                <h3>November 2018</h3>
                <hr>
                <p><a href="/events/zone-emerald-samelana/">01st - Zone Emerald Samelana</a></p>
                <hr>
                <p><a href="/events/spoken-kannada-learning-program/">Spoken Kannada Learning Program</a></p> 
                <hr>
                <p><a href="/events/lalbagh-stories/">04th - Lalbagh Stories</a></p>
                <hr>
                <p><a href="/events/club-chapter-day-celebration-18/">25th - Club Chapter Day Celebration 18</a></p>
                <hr>                            
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body dec p-4">
                <h3>December 2018</h3>
                <hr>
                <p><a href="/events/orphanage-visit-gfct/">09th - Orphanage Visit - GFCT</a></p>
                <hr>
                <p><a href="/events/know-your-bods/">Know Your BODs</a></p>
                <hr>
                <p><a href="/events/plastic-free-bangalore/">23rd - Plastic Free Bangalore</a></p>
                <hr>                
                <p><a href="/events/being-santa-2018-2019/">25th - Being Santa 2.0</a></p> 
                <hr>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body jan p-4">
                <h3>January 2019</h3>
                <hr>
                <p><a href="/events/national-youth-day/">12th - National Youth Day</a></p>
                <hr>
                <p><a href="/events/letter-to-our-soldiers-v2-0/">20th - Letter to Our Soldiers v2.0</a></p>
                <hr>
                <p><a href="/events/step-out-live-it-v2-0/">20th - Step Out. Live It. v2.0</a></p>
                <hr>                
                <p><a href="/events/visit-to-gfct-orphanage/">27th - Visit to GFCT Orphanage</a></p> 
                <hr>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body feb p-4">
                <h3>February 2019</h3>
                <hr>
                <p><a href="/events/wetlands-awareness-5k-walkathon/">03rd - Wetlands Awareness 5k Walkathon</a></p>
                <hr>
                <p><a href="/events/reminiscence-2018-2019/">17th - Reminiscense v1.6</a></p>
                <hr>
                <p><a href="/events/feb-letter-head-exchange-meet/">21-23 - Letter Head Exchange Meet</a></p>
                <hr>                
                <p><a href="/events/hosting-rotasia-sl-team-pdrr/">25th - Hosting Rotasia SL team & PDRR</a></p> 
                <hr>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body mar p-4">
                <h3>March 2019</h3>
                <hr>
                <p><a href="/events/wild-blues-world-wildlife-day/">03rd - Wild Blues - World Wildlife Day</a></p>
                <hr>
                <p><a href="/events/national-polio-immunization-day/">10th - National Polio Immunization Day</a></p>
                <hr>
                <p><a href="/events/world-rotaract-week-celebrations/">16th - World Rotaract Week Celebrations</a></p>
                <hr>                
                <p><a href="/events/visit-to-doddaballapur-school/">30th - Visit to Doddaballapur School</a></p> 
                <hr>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body apr p-4">
                <h3>April 2019</h3>
                <hr>
                <p><a href="/events/visit-to-pyramid-valley/">07th - Visit to Pyramid valley</a></p>
                <hr>
                <p><a href="/events/election-awareness-walkathon/">14th - Election Awareness Walkathon</a></p>
                <hr>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body may p-4">
                <h3>May 2019</h3>
                <hr>
                <p><a href="/events/rewind-dov-drr-official-visit/">12th - Rewind – DOV (DRR’s Official Visit)</a></p>
                <hr>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body jun p-4">
                <h3>June 2019</h3>
                <hr>
                <p><a href="/events/rotaract-overview/">02nd - Rotaract Overview</a></p>
                <hr>
                <p><a href="/events/world-environment-day/">09th - World Environment Day</a></p>
                <hr>
                <p><a href="/events/international-day-of-yoga/">22nd - International Day of Yoga</a></p>
                <hr>
            </div>
        </div>
    </div>
</div>