<div class="row justify-content-center">
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body jul p-4">
                <h3>July 2022</h3>
                <hr>
                {% for row in site.data.events-all.y2023.july %}
                {% for eventsData in row[1] %}
                <p><a href="/events/{{eventsData.eventLink}}/">{{eventsData.eventDateName}}</a></p>
                <hr>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body aug p-4">
                <h3>August 2022</h3>
                <hr>
                {% for row in site.data.events-all.y2023.august %}
                {% for eventsData in row[1] %}
                <p><a href="/events/{{eventsData.eventLink}}/">{{eventsData.eventDateName}}</a></p>
                <hr>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body sep p-4">
                <h3>September 2022</h3>
                <hr>
                {% for row in site.data.events-all.y2023.september %}
                {% for eventsData in row[1] %}
                <p><a href="/events/{{eventsData.eventLink}}/">{{eventsData.eventDateName}}</a></p>
                <hr>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body oct p-4">
                <h3>October 2022</h3>
                <hr>
                {% for row in site.data.events-all.y2023.october %}
                {% for eventsData in row[1] %}
                <p><a href="/events/{{eventsData.eventLink}}/">{{eventsData.eventDateName}}</a></p>
                <hr>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body nov p-4">
                <h3>November 2022</h3>
                <hr>
                {% for row in site.data.events-all.y2023.november %}
                {% for eventsData in row[1] %}
                <p><a href="/events/{{eventsData.eventLink}}/">{{eventsData.eventDateName}}</a></p>
                <hr>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body dec p-4">
                <h3>December 2022</h3>
                <hr>
                {% for row in site.data.events-all.y2023.december %}
                {% for eventsData in row[1] %}
                <p><a href="/events/{{eventsData.eventLink}}/">{{eventsData.eventDateName}}</a></p>
                <hr>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body jan p-4">
                <h3>January 2023</h3>
                <hr>
                {% for row in site.data.events-all.y2023.january %}
                {% for eventsData in row[1] %}
                <p><a href="/events/{{eventsData.eventLink}}/">{{eventsData.eventDateName}}</a></p>
                <hr>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body feb p-4">
                <h3>February 2023</h3>
                <hr>
                {% for row in site.data.events-all.y2023.february %}
                {% for eventsData in row[1] %}
                <p><a href="/events/{{eventsData.eventLink}}/">{{eventsData.eventDateName}}</a></p>
                <hr>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    

    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body mar p-4">
                <h3>March 2023</h3>
                <hr>
                {% for row in site.data.events-all.y2023.march %}
                {% for eventsData in row[1] %}           
                <p><a href="/events/{{eventsData.eventLink}}/">{{eventsData.eventDateName}}</a></p> 
                <hr>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body apr p-4">
                <h3>April 2023</h3>
                <hr>
                {% for row in site.data.events-all.y2023.april %}
                {% for eventsData in row[1] %} 
                <p><a href="/events/{{eventsData.eventLink}}/">{{eventsData.eventDateName}}</a></p>
                <hr>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body may p-4">
                <h3>May 2023</h3>
                <hr>
                {% for row in site.data.events-all.y2023.may %}
                {% for eventsData in row[1] %} 
                <p><a href="/events/{{eventsData.eventLink}}/">{{eventsData.eventDateName}}</a></p>
                <hr>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body jun p-4">
                <h3>June 2023</h3>
                <hr>
                {% for row in site.data.events-all.y2023.june %}
                {% for eventsData in row[1] %}
                <p><a href="/events/{{eventsData.eventLink}}/">{{eventsData.eventDateName}}</a></p>
                <hr>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>