<div class="row justify-content-center">
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body feb p-4">
                <h3>February 2020</h3>
                <hr>
                <p><a href="/events/wins-and-mhm-program-2/">9th - WinS and MHM Program</a></p>
                <hr>
                <p><a href="/events/reminiscence-v-6-0/">15th - Reminiscence V. 6.0</a></p>
                <hr>
                <p><a href="/events/train-the-trainer/">23rd - Train the Trainer</a></p>
                <hr>                
                <p><a href="/events/rotasia-letter-heads/">23-24 - Rotasia Letter Heads</a></p> 
                <hr>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body jan p-4">
                <h3>January 2020</h3>
                <hr>
                <p><a href="/events/shiksha-seva-phase-1/">5th - Shiksha Seva Phase 1</a></p>
                <hr>
                <p><a href="/events/national-immunization-day/">19th - National Immunization Day</a></p>
                <hr>
                <p><a href="/events/wins-and-mhm-program/">20th - WinS and MHM Program</a></p>
                <hr>                
                <p><a href="/events/adhvara-veergati/">26th - Adhvara Veergati</a></p> 
                <hr>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body dec p-4">
                <h3>December 2019</h3>
                <hr>
                <p><a href="/events/the-eco-minions/">7th - The Eco Minions</a></p>
                <hr>
                <p><a href="/events/singing-bird-fest/">22nd - Singing Bird Fest</a></p>
                <hr>
                <p><a href="/events/being-santa-3.0/">25th - Being Santa 3.0</a></p>
                <hr>                
                <p><a href="/events/spoken-kannada-learning-program-2.0/">Spoken Kannada Learning Program 2.0</a></p> 
                <hr>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body nov p-4">
                <h3>November 2019</h3>
                <hr>
                <p><a href="/events/kannada-rajyotsava/">1st - KANNADA RAJYOTSAVA</a></p>
                <hr>
                <p><a href="/events/rotafit/">17th - ROTAFIT</a></p> 
                <hr>
                <p><a href="/events/charter-day-celebrations-2019/">24th - Charter Day Celebrations 2019</a></p>
                <hr>
                <p><a href="/events/mega-clothes-donation-drive/">30th - Mega Clothes Donation Drive</a></p>
                <hr>                            
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body oct p-4">
                <h3>October 2019</h3>
                <hr>
                <p><a href="/events/dussehra-celebrations-at-bgms/">8th - Dussehra Celebrations at BGMS</a></p> 
                <hr>
                <p><a href="/events/alumni-reunion-2019/">13th - Alumni Reunion 2019</a></p>
                <hr>
                <p><a href="/events/KARE-2019-20-s1/">20th - K.A.R.E 2019-20 S1</a></p>
                <hr>
                <p><a href="/events/diwali-celebrations/">28th - Diwali Celebrations</a></p>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body sep p-4">
                <h3>September 2019</h3>
                <hr>
                <p><a href="/events/zonal-meet/">1st - Zonal Meet</a></p>                            
                <hr>
                <p><a href="/events/learn-with-fun/">8th - Learn with Fun</a></p>
                <hr>
                <p><a href="/events/cupboards-for-st.sara-school/">18th - Cupboards for St.Sara school</a></p>
                <hr>
                <p><a href="/events/visit-to-karunashraya/">28th - Visit to Karunashraya</a></p>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body aug p-4">
                <h3>August 2019</h3>
                <hr>
                <p><a href="/events/rac-koramangala-installation/">04th - RaC Koramangala || Installation</a></p>
                <hr>
                <p><a href="/events/karnataka-flood-relief-collections/">16th - Karnataka Flood Relief Collections</a></p>
                <hr>
                <p><a href="/events/club-outing-at-srs-hills/">18th - Club Outing @ SRS Hills</a></p>
                <hr>
                <p><a href="/events/cots-2019/">25th - COTS 2019</a></p>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body jul p-4">
                <h3>July 2019</h3>
                <hr>
                <p><a href="/events/orientation-session-at-interact-euro-school/">1st - Orientation Session at Interact Euro School</a></p>
                <hr>
                <p><a href="/events/club-service-fit-start/">14th - Club Service || Fit start</a></p>
                <hr>
                <p><a href="/events/project-assam-donation-drive/">20th - Project Assam || Donation Drive</a></p>
                <hr>
                <p><a href="/events/gracias/">25th - Gracias</a></p>
                <hr>
            </div>
        </div>
    </div>       
</div>