<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="/img/favicon.jpg" rel="icon">
    {% seo %}
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- themify CSS -->
    <link href="/css/themify-icons.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- Custom CSS   -->
    <link href="/css/custom.css?" rel="stylesheet">
    <!-- Home Page event hover   -->
    <link href="/css/event-hover.css" rel="stylesheet">
    <!-- Gallery Lightbox Popups   -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css" rel="stylesheet">
    <!-- Kenburns Slideshow   -->
    <link href="/css/kenburn-slide.css" rel="stylesheet">
    <!-- Stats Counter   -->
    <link href="/css/counter.css" rel="stylesheet">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166103490-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166103490-1');
</script>

</head>
