<div class="top-header-bar">
    <div class="container">
        <div class="row">
            <div class="col social">
               <p>
                <!--                   <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">-->
                    <a href="https://www.facebook.com/RotaractKoramangala" target="_blank"><i class="ti-facebook"></i></a>
                    <a href="https://twitter.com/RaCKoramangala" target="_blank"> <i class="ti-twitter"></i> </a>
                    <a href="https://www.instagram.com/rotaractkoramangala/" target="_blank"><i class="ti-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCUL0dXxYw93zEIUQUYRm2rQ" target="_blank"><i class="ti-youtube"></i></a>
                    <a href="https://www.linkedin.com/company/rotaractkoramangala" target="_blank"><i class="ti-linkedin"></i></a>
                </p>
            </div>
            <div class="col text-lg-center">
                <p><i class="ti-mobile"></i> <a href="tel:+919957171355">9957171355</a></p>
            </div>
            <div class="col text-lg-right">
                <p>
                    <a href="/blood-bank-search/" style="color:#de3600"><img src="/img/icons8-drop-of-blood-48.png" alt="blood bank bangalore" width="20px" class="">Blood Bank</a>
                </p>
            </div>
        </div>
    </div>
</div>