---
layout: default
permalink: /events/arivu-2-0/
title: Arivu 2.0 | Rotaract Koramangala
image: /img/share-logo.png
---
   
    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
           {% for backlink in site.data.events-slide.y2024 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page" id="ueb-1">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content px-4">
                        <h3 class="text-center">Arivu 2.0</h3>
                        <!-- <div class="project_details_widget row justify-content-center">
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-calendar"></span></p>
                                <h5 class="text-center">Number of Sessions</h5>
                                <p class="text-center">18</p>
                            </div>
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-time"></span></p>
                                <h5 class="text-center">Number of Volunteering Hours</h5>
                                <p class="text-center">274</p>
                            </div>
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-money"></span></p>
                                <h5 class="text-center">Total Contributions</h5>
                                <p class="text-center">₹ 12,160/-</p>
                            </div>                            
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-user"></span></p>
                                <h5 class="text-center">Total number of attendees</h5>
                                <p class="text-center">1663</p>
                            </div>
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-user"></span></p>
                                <h5 class="text-center">Total number of Volunteers</h5>
                                <p class="text-center">73</p>
                            </div>
                        </div>
                        <div class="project_details_widget row justify-content-center">
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-book"></span></p>
                                <h5 class="text-center">Number of participating Schools</h5>
                                <p class="text-center">6</p>
                            </div>
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-book"></span></p>
                                <h5 class="text-center">Number of participating Colleges</h5>
                                <p class="text-center">7</p>
                            </div>
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-thumb-up"></span></p>
                                <h5 class="text-center">Number of participating Rotaract Clubs</h5>
                                <p class="text-center">7</p>
                            </div>                            
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-thumb-up"></span></p>
                                <h5 class="text-center">Number of participating Rotary Clubs</h5>
                                <p class="text-center">5</p>
                            </div>                            
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-face-smile"></span></p>
                                <h5 class="text-center">Total number of women who have switched to sustainable methods</h5>
                                <p class="text-center">91</p>
                            </div>
                        </div>
                        <hr>
                        <div class="py-5" id="ueb-1">
                            <p class="text-center">If you like our work, please support us by donating a pad
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#bleed-green">Donate ₹350 per pad</button>
                            </p>
                        </div> -->
                        <hr>
                        <h3 class="text-center">Club Service</h3>
                        <div class="project_details_widget row justify-content-center">
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center">
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-calendar"></span></p>
                                        <h5 class="text-center">Date</h5>
                                        <p class="text-center">8 July 2023</p>
                                    </div>
                                    <div class="single_project_details_widget col-md col-6">
                                        <p class="text-center"><span class="ti-user"></span></p>
                                        <h5 class="text-center">Total number of Volunteers</h5>
                                        <p class="text-center">6</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-time"></span></p>
                                        <h5 class="text-center">Voluteering Hours</h5>
                                        <p class="text-center">47 Hours</p>
                                    </div>                            
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-location-pin"></span></p>
                                        <h5 class="text-center">Location</h5>
                                        <p class="text-center">online</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-user"></span></p>
                                        <h5 class="text-center">Number of Attendees</h5>
                                        <p class="text-center">39</p>
                                    </div>
                                    <!-- <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-money"></span></p>
                                        <h5 class="text-center">Contribution</h5>
                                        <p class="text-center">Sanitary Napkins <br>(₹ 1800)</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-12 col-12">
                                        <p class="text-center"><span class="ti-face-smile"></span></p>
                                        <h5 class="text-center">Impact</h5>
                                        <p class="text-center">Taboo breaking and correct disposal of soiled sanitary napkins taught.</p>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center photo-gallery">
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/arivu-2-0/cs1.jpeg" data-lightbox="photos"><img class="img-fluid" src="/img/events/arivu-2-0/cs1.jpeg" alt="Rotaract Koramangala Bengaluru Club Service"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/arivu-2-0/cs2.jpeg" data-lightbox="photos"><img class="img-fluid" src="/img/events/arivu-2-0/cs2.jpeg" alt="Rotaract Koramangala Bengaluru Club Service"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/arivu-2-0/cs3.jpeg" data-lightbox="photos"><img class="img-fluid" src="/img/events/arivu-2-0/cs3.jpeg" alt="Rotaract Koramangala Bengaluru Club Service"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/arivu-2-0/cs4.jpeg" data-lightbox="photos"><img class="img-fluid" src="/img/events/arivu-2-0/cs4.jpeg" alt="Rotaract Koramangala Bengaluru Club Service"></a></div>
                                </div>
                            </div>                            
                        </div>                        
                        <hr>
                        <h3 class="text-center">Club Council</h3>
                        <div class="project_details_widget row justify-content-center">
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center">
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-calendar"></span></p>
                                        <h5 class="text-center">Date</h5>
                                        <p class="text-center">14 July 2023</p>
                                    </div>
                                    <div class="single_project_details_widget col-md col-6">
                                        <p class="text-center"><span class="ti-user"></span></p>
                                        <h5 class="text-center">Total number of Volunteers</h5>
                                        <p class="text-center">6</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-time"></span></p>
                                        <h5 class="text-center">Voluteering Hours</h5>
                                        <p class="text-center">37 Hours</p>
                                    </div>                            
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-location-pin"></span></p>
                                        <h5 class="text-center">Location</h5>
                                        <p class="text-center">online</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-user"></span></p>
                                        <h5 class="text-center">Number of Attendees</h5>
                                        <p class="text-center">35</p>
                                    </div>
<!--
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-money"></span></p>
                                        <h5 class="text-center">Contribution</h5>
                                        <p class="text-center">Sanitary Napkins <br>(₹ 1800)</p>
                                    </div>
-->
                                    <!-- <div class="single_project_details_widget col-lg-12 col-12">
                                        <p class="text-center"><span class="ti-face-smile"></span></p>
                                        <h5 class="text-center">Impact</h5>
                                        <p class="text-center">Taboo breaking, correct disposal of soiled sanitary napkins, yoga session, Menstrual hygiene.</p>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center photo-gallery">
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/arivu-2-0/cc1.jpeg" data-lightbox="photos"><img class="img-fluid" src="/img/events/arivu-2-0/cc1.jpeg" alt="Rotaract Koramangala Bengaluru Club Council"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/arivu-2-0/cc2.jpeg" data-lightbox="photos"><img class="img-fluid" src="/img/events/arivu-2-0/cc2.jpeg" alt="Rotaract Koramangala Bengaluru Club Council"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/arivu-2-0/cc3.jpeg" data-lightbox="photos"><img class="img-fluid" src="/img/events/arivu-2-0/cc3.jpeg" alt="Rotaract Koramangala Bengaluru Club Council"></a></div>
                                </div>
                            </div>                            
                        </div>
                        <hr>
                        <h3 class="text-center">Treasury</h3>
                        <div class="project_details_widget row justify-content-center">
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center">
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-calendar"></span></p>
                                        <h5 class="text-center">Date</h5>
                                        <p class="text-center">21 July 2023</p>
                                    </div>
                                    <div class="single_project_details_widget col-md col-6">
                                        <p class="text-center"><span class="ti-user"></span></p>
                                        <h5 class="text-center">Total number of Volunteers</h5>
                                        <p class="text-center">6</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-time"></span></p>
                                        <h5 class="text-center">Voluteering Hours</h5>
                                        <p class="text-center">35 Hours</p>
                                    </div>                            
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-location-pin"></span></p>
                                        <h5 class="text-center">Location</h5>
                                        <p class="text-center">online</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-user"></span></p>
                                        <h5 class="text-center">Number of Attendees</h5>
                                        <p class="text-center">38</p>
                                    </div>
<!--
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-money"></span></p>
                                        <h5 class="text-center">Contribution</h5>
                                        <p class="text-center">Sanitary Napkins <br>(₹ 1800)</p>
                                    </div>
-->
                                    <!-- <div class="single_project_details_widget col-lg-12 col-12">
                                        <p class="text-center"><span class="ti-face-smile"></span></p>
                                        <h5 class="text-center">Impact</h5>
                                        <p class="text-center">Session on how men can support menstruation.</p>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center photo-gallery">
                                    <div class="col-lg-12 col-12 item"><a href="/img/events/arivu-2-0/t1.jpeg" data-lightbox="photos"><img class="img-fluid" src="/img/events/arivu-2-0/t1.jpeg" alt="Rotaract Koramangala Bengaluru Treasury"></a></div>
                                    <div class="col-lg-12 col-12 item"><a href="/img/events/arivu-2-0/t2.jpeg" data-lightbox="photos"><img class="img-fluid" src="/img/events/arivu-2-0/t2.jpeg" alt="Rotaract Koramangala Bengaluru Treasury"></a></div>
                                </div>
                            </div>                            
                        </div>
                        <hr>
                        <h3 class="text-center">PR</h3>
                        <div class="project_details_widget row justify-content-center">
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center">
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-calendar"></span></p>
                                        <h5 class="text-center">Date</h5>
                                        <p class="text-center">28 July 2023</p>
                                    </div>
                                    <div class="single_project_details_widget col-md col-6">
                                        <p class="text-center"><span class="ti-user"></span></p>
                                        <h5 class="text-center">Total number of Volunteers</h5>
                                        <p class="text-center">6</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-time"></span></p>
                                        <h5 class="text-center">Voluteering Hours</h5>
                                        <p class="text-center">32 Hours</p>
                                    </div>                            
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-location-pin"></span></p>
                                        <h5 class="text-center">Location</h5>
                                        <p class="text-center">online</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-user"></span></p>
                                        <h5 class="text-center">Number of Attendees</h5>
                                        <p class="text-center">29</p>
                                    </div>
<!--
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-money"></span></p>
                                        <h5 class="text-center">Contribution</h5>
                                        <p class="text-center">Sanitary Napkins <br>(₹ 1800)</p>
                                    </div>
-->
                                    <!-- <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-thumb-up"></span></p>
                                        <h5 class="text-center">Collaboration with</h5>
                                        <p class="text-center">RaC Jain Evening College</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-12 col-12">
                                        <p class="text-center"><span class="ti-face-smile"></span></p>
                                        <h5 class="text-center">Impact</h5>
                                        <p class="text-center">Sustainable Menstruation Session by Dr. Meenakshi Bharat</p>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center photo-gallery">
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/arivu-2-0/pr1.jpeg" data-lightbox="photos"><img class="img-fluid" src="/img/events/arivu-2-0/pr1.jpeg" alt="Rotaract Koramangala Bengaluru PR"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/arivu-2-0/pr2.jpeg" data-lightbox="photos"><img class="img-fluid" src="/img/events/arivu-2-0/pr2.jpeg" alt="Rotaract Koramangala Bengaluru PR"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/arivu-2-0/pr3.jpeg" data-lightbox="photos"><img class="img-fluid" src="/img/events/arivu-2-0/pr3.jpeg" alt="Rotaract Koramangala Bengaluru PR"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/arivu-2-0/pr4.jpeg" data-lightbox="photos"><img class="img-fluid" src="/img/events/arivu-2-0/pr4.jpeg" alt="Rotaract Koramangala Bengaluru PR"></a></div>
                                </div>
                            </div>                            
                        </div>
                        <hr>
                    </div>                
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

<div class="donate-modals">
    <!-- Modal Bleed Green -->    
    <div class="modal fade" id="bleed-green" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="">Bleed Green - Help Girl Child</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <form action="" id="f1">
           <div class="form-group">
                <input type="text" name="name" id="bleed-green-name" placeholder="Name" class="form-control" required />
            </div>
            <div class="form-group">
                <span class="rupee"> ₹ &nbsp;</span><input type="number" name="amout" id="bleed-green-amount" placeholder="Amount" class="form-control" value="350" placeholder="Enter any amount" min="100">
            </div>
             <div class="form-group">
                <textarea type="text" name="comments" id="bleed-green-message" cols="30" rows="10" placeholder="Reason for donation..." class="form-control" required></textarea>
              </div>
             <div class="form-group">
                <input type="checkbox" name="terms1" value="1"><span> I accept <a href="{{site.baseurl}}/terms-and-conditions/" target="_blank">terms</a>, <a href="{{site.baseurl}}/privacy/" target="_blank">privacy</a> & <a href="{{site.baseurl}}/refund-and-cancellation/" target="_blank">refund policy</a>.</span>
              </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-block btn-success pay" id="rzp-button1" disabled>Donate</button>
          </div>
           </form>
        </div>
      </div>
    </div>
    </div>
</div>
 
    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2019-2020.html %}
        </div>
    </section>