---
layout: default
permalink: /events/august-lhe-04-meeting-drr-3160/
title: LHE 04 & Meeting DRR 3160 | Rotaract Koramangala
image: /img/share-logo.png
---
   
    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
            {% for backlink in site.data.events-slide.y1819 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page aug">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content pl-4">
                        <h3 class="text-center">LHE 04 & Meeting DRR 3160</h3>
                        <div class="project_details_widget row">
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-calendar"></span></p>
                                <h5 class="text-center">Date</h5>
                                <p class="text-center">19th August 2018</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-time"></span></p>
                                <h5 class="text-center">Time</h5>
                                <p class="text-center">NA</p>
                            </div>                            
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Venue</h5>
                                <p class="text-center">Davanagere RID 3160</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-face-smile"></span></p>
                                <h5 class="text-center">Attendees</h5>
                                <p class="text-center">08</p>
                            </div>
                        </div>
                        <h4>Flow of Activities</h4>
                        <p>~ Letter Head exchange done with Rotaract Club of Davanagere South, RID 3160</p>
                        <p>~ During the exchange - Rtr. Sanjay discussed on various Rotaract practices and projects with DRR Rtr. Mohammed Gouse, Past District Secreatry Rtr. Srikanth Bagare, Secretary Rtr. Praveen Kumar, Vice President Rtr. Saraswathi, Treasurer Rtr. Sadhanand, Club service director Rtr. Chetan Kumar  Rotaract Club Davanagere South, RID 3160.</p>
                        <p>~ Along with the exchange of information we are agreed to have Joint projects  and supports the each others upcoming projects. </p>
                        <p>~ To Increase the Rotaraction we agreed to create Group b/w two clubs in order to showcase projects.</p>
                        <p>~ Overall it was a good experience of Rotaraction for all..!!</p>
                    </div>
                <div class="photo-gallery">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Photo Gallery</h2>
                        </div>
                        <div class="row photos justify-content-center">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/august-lhe-04-meeting-drr-3160/001.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/august-lhe-04-meeting-drr-3160/001.jpg" alt="Rotaract Koramangala Bengaluru LHE 04 & Meeting DRR 3160"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/august-lhe-04-meeting-drr-3160/002.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/august-lhe-04-meeting-drr-3160/002.jpg" alt="Rotaract Koramangala Bengaluru LHE 04 & Meeting DRR 3160"></a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2018-2019.html %}
        </div>
    </section>