---
layout: default
permalink: /events/bengaluru-maker-faire/
title: Bengaluru Maker Faire | Rotaract Koramangala
image: /img/share-logo.png
---
   
    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
            {% for backlink in site.data.events-slide.y1718 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page nov">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content pl-4">
                        <h3 class="text-center">Bengaluru Maker Faire</h3>
                        <div class="project_details_widget row">
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-calendar"></span></p>
                                <h5 class="text-center">Date</h5>
                                <p class="text-center">17 & 18 November 2017</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-time"></span></p>
                                <h5 class="text-center">Time</h5>
                                <p class="text-center">NA</p>
                            </div>                            
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Venue</h5>
                                <p class="text-center">Bangalore Palace Grounds</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-face-smile"></span></p>
                                <h5 class="text-center">Attendees</h5>
                                <p class="text-center">154</p>
                            </div>
                        </div>
                        <h5>Club Attendees:</h5>
                        <p>Rtr. Ravi, Rtr. Sunil, Rtr. Shubham & Rtr. Hemadri</p>
                        <h4>Flow of Activities</h4>
                        <p>~ As outreach partners of the event we nominated 22 projects for this Mega Event, out of which 6 were able to make it to the TOP 100 –</p>
                        <p>1. Coir Fibre Reinforcement</p>
                        <p>2. Inferno - Ultra Energy Efficient Vehicle</p>
                        <p>3. Avishkar - Automation Advancements in Teaching</p>
                        <p>4. Autonomous Underwater Vehicle</p>
                        <p>5. Racing Go-Kart Vehicle</p>
                        <p>6. Electric Bike</p>
                        <p>~ 2 projects have been approached for sponsorship worth INR 25 lakhs. Intel Accelerators, Mumbai were very excited after seeing the projects and have recently confirmed that they will be investing the amount for development of these two projects.</p>
                        <p>~ Initiative was supported by - 1. Govt of INDIA - NITI AYOG2. Department of Science & Technology (GOI)3. Govt. of Karnataka IT&BT4. European Business Companies</p>
                        <p>~ Our Club took a team of 150+ engineering students to the event. It was a great learning opportunity for the students to know about future technologies and witness projects across multiple domains by different college students and start-ups.</p>
                    </div>
                <div class="photo-gallery">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Photo Gallery</h2>
                        </div>
                        <div class="row photos justify-content-center">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/bengaluru-maker-faire/001.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/bengaluru-maker-faire/001.jpg" alt="Rotaract Koramangala Bengaluru - Bengaluru Maker Faire"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/bengaluru-maker-faire/002.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/bengaluru-maker-faire/002.jpg" alt="Rotaract Koramangala Bengaluru - Bengaluru Maker Faire"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/bengaluru-maker-faire/003.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/bengaluru-maker-faire/003.jpg" alt="Rotaract Koramangala Bengaluru - Bengaluru Maker Faire"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/bengaluru-maker-faire/004.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/bengaluru-maker-faire/004.jpg" alt="Rotaract Koramangala Bengaluru - Bengaluru Maker Faire"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/bengaluru-maker-faire/005.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/bengaluru-maker-faire/005.jpg" alt="Rotaract Koramangala Bengaluru - Bengaluru Maker Faire"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/bengaluru-maker-faire/006.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/bengaluru-maker-faire/006.jpg" alt="Rotaract Koramangala Bengaluru - Bengaluru Maker Faire"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/bengaluru-maker-faire/007.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/bengaluru-maker-faire/007.jpg" alt="Rotaract Koramangala Bengaluru - Bengaluru Maker Faire"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/bengaluru-maker-faire/008.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/bengaluru-maker-faire/008.jpg" alt="Rotaract Koramangala Bengaluru - Bengaluru Maker Faire"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/bengaluru-maker-faire/009.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/bengaluru-maker-faire/009.jpg" alt="Rotaract Koramangala Bengaluru - Bengaluru Maker Faire"></a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2017-2018.html %}
        </div>
    </section>