---
layout: default
permalink: /events/drop-off-for-kerala-kodagu/
title: Drop Off - for Kerala & Kodagu | Rotaract Koramangala
image: /img/share-logo.png
---
   
    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
            {% for backlink in site.data.events-slide.y1819 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page aug">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content pl-4">
                        <h3 class="text-center">Drop Off - for Kerala & Kodagu</h3>
                        <div class="project_details_widget row">
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-calendar"></span></p>
                                <h5 class="text-center">Date</h5>
                                <p class="text-center">15th July 2018</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-time"></span></p>
                                <h5 class="text-center">Time</h5>
                                <p class="text-center">NA</p>
                            </div>                            
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Venue</h5>
                                <p class="text-center">APS College of Engg.</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-face-smile"></span></p>
                                <h5 class="text-center">Attendees</h5>
                                <p class="text-center">200+</p>
                            </div>
                        </div>
                        <h5>Club Attendees:</h5>
                        <p><b>Members -</b> Rtr. Ravi Kumar, Rtr. Ganesh G (Taresh), Nikitha, Vignesh, All RaCK Club Members, Aps college students and Faculty members.</p>
                        <h4>Flow of Activities</h4>
                        <p>~ We are delighted with the donations received from the college and Villagers nearby to the college.</p>
                        <p>🔹 There was a total of INR Rs. 14300  cash.</p>
                        <p>🔹 5 box full of good condition clothes. (60 pair of  Women’s and 40 pair of Men’s clothes)</p>
                        <p>🔹 2 box of Food items. (Include Biscuits, Breads, Maggie & Rusk)</p>
                        <p>🔹 1 box of basic Medicine.</p>
                        <p>🔹 1 box of other sanitary items.  (Candles, soaps, Diapers)</p>
                        <p>~ The donation camp was set out on August 20 to 21st-  where we received mainly food items & medicines on the first day followed by cash & clothes on the second day.</p>
                        <p>~ We would like to thank students of APS College of Engineering who made the poster go viral up to Kanakapura and we made a huge donations for the two days. We have also documented all the items collected by us piece by piece.</p>
                        <p>~ Special thanks to Pros. Member Nikitha for maintaining the accounts of all cash collection. </p>
                        <p>~ Pros. Member Vignesh played a major role in arranging logistics along with Pradeep Reddy and he stayed along to help us organize all the items received. </p>
                        <p>~ Lastly, we would like to thank IPP Rtr. Ravi Kumar who arranged permission from college Principal and helped in every possible way to let us make this Donation Drive successful from scratch till completion. We pray god to  save and relief for Coorg and Kerala.</p>
                        <p>~ We are very thankful to all the joining hands in this emergency situation.</p>
                    </div>
                <div class="photo-gallery">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Photo Gallery</h2>
                        </div>
                        <div class="row photos justify-content-center">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/drop-off-for-kerala-kodagu/001.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/drop-off-for-kerala-kodagu/001.jpg" alt="Rotaract Koramangala Bengaluru Yoga Day Celebrations 2018"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/drop-off-for-kerala-kodagu/002.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/drop-off-for-kerala-kodagu/002.jpg" alt="Rotaract Koramangala Bengaluru Yoga Day Celebrations 2018"></a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2018-2019.html %}
        </div>
    </section>