---
layout: default
permalink: /events/election-awareness-walkathon/
title: Election Awareness Walkathon | Rotaract Koramangala
image: /img/share-logo.png
---
   
    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
            {% for backlink in site.data.events-slide.y1819 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page apr">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content pl-4">
                        <h3 class="text-center">Election Awareness Walkathon</h3>
                        <div class="project_details_widget row">
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-calendar"></span></p>
                                <h5 class="text-center">Date</h5>
                                <p class="text-center">14th April 2019 </p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-time"></span></p>
                                <h5 class="text-center">Time</h5>
                                <p class="text-center">NA</p>
                            </div>                            
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Venue</h5>
                                <p class="text-center">Near Cubbon Park</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-face-smile"></span></p>
                                <h5 class="text-center">Attendees</h5>
                                <p class="text-center">300+</p>
                            </div>
                        </div>
                        <h5>In Attendence :</h5>
                        <p>BBMP Jt. Commissioner G.M. Ravindra, DG Rtn. Suresh Hari, Electoral Registration Officer R. Pradeep Rathod, “Me & My Vote are not for sale” Campaign Team, Project Chair Rtr. Arun Kumar, DRR Rtr. Kiran Raj, 4 Rotary Club Members, 25 Rotaract Club Members & General Public (around 300 Participants overall)</p>
                        <h4>Flow of Activities</h4>
                        <p>~ We are overwhelmed with the support and walking along in large numbers around Cubbon Park on 14th Apr for the cause of National Interest i.e., Election Awareness for upcoming 2019 Lok Sabha Elections. Event started at Mahatma Gandhi Statue near Cubbon Park where DG Rtn. Suresh Hari briefed the gathering about importance of Elections, followed by BBMP Jt. Commissioner sharing crucial insights & information which every Voter should be aware of and lastly “Me & My Vote is not for Sale” Campaign representative Deepti who emphasized on the struggle which our forefathers have taken, which has given us democracy & right to choose our own leaders. Event was flagged off at 7:45 AM by releasing Tri Color helium Balloons.</p>
                        <p>~ A Total distance of 3.5 kms was covered by all participants with the shout outs and placards on Voting. All the participants have taken pledge to vote - in-front of Vidhana Souda. General Public in Cubbon Park also interacted with us and they were briefed about the cause and their right to Vote. The event concluded in Cubbon Park where all the participants were provided with Breakfast & Certificates (Club Recognition & Individual Certificates).</p>
                    </div>
                <div class="photo-gallery">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Photo Gallery</h2>
                        </div>
                        <div class="row photos justify-content-center">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/election-awareness-walkathon/001.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/election-awareness-walkathon/001.jpg" alt="Rotaract Koramangala Bengaluru Election Awareness Walkathon"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/election-awareness-walkathon/002.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/election-awareness-walkathon/002.jpg" alt="Rotaract Koramangala Bengaluru Election Awareness Walkathon"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/election-awareness-walkathon/003.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/election-awareness-walkathon/003.jpg" alt="Rotaract Koramangala Bengaluru Election Awareness Walkathon"></a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2018-2019.html %}
        </div>
    </section>