---
layout: default
permalink: /events/game-point-2017-2018/
title: Game Point v2.0 | Rotaract Koramangala
image: /img/share-logo.png
---
   
    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
            {% for backlink in site.data.events-slide.y1718 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page oct">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content pl-4">
                        <h3 class="text-center">Game Point v2.0</h3>
                        <div class="project_details_widget row">
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-calendar"></span></p>
                                <h5 class="text-center">Date</h5>
                                <p class="text-center">15th Otober 2017</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-time"></span></p>
                                <h5 class="text-center">Time</h5>
                                <p class="text-center">NA</p>
                            </div>                            
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Venue</h5>
                                <p class="text-center">Spark Sports JP Nagar</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-face-smile"></span></p>
                                <h5 class="text-center">Attendees</h5>
                                <p class="text-center">260+</p>
                            </div>
                        </div>
                        <h5>Club Attendees:</h5>
                        <p>Rtr. Ravi, Rtr. Shubham, Rtr. Anurag, Rtr. Sunil, Rtr. Suhas, Rtr. Rachel, Rtr. Tejas, Rtr. Arun, Rtr. Divya, Rtr. Krithika, Rtr. Sanjay, Rtr. Trisha, Rtr. Nishantha, Rtr. Annina, Rtr. Johnson, Rtr. Santhosh, Rtr. Shruthi </p>
                        <h4>Flow of Activities</h4>
                        <p>~ GamePoint v2.0 - is a fund raising flagship Club Service event of RC Koramangala. With 260+ participants and support of 20+ volunteer, we were able to complete the event successfully. Event was inaugurated by Rtn. Sunil Pai (IFBR Chair) and Rtn. PP Manivanan (Koramangala).</p>
                        <p>~ Event was supported by Rotaract Clubs of - West, Vijaynagar, Yelahanka, SBMJC, Jain University, AIMT, SIMS, Jayanagar BIT, Cubbon Park, Marathalli, PES University, Bishop Cottons, Mont Carmel & South Parade. We were graced with the presence of Mr. Vishal (Owner Spark Sports) and Rtr. Naveen Senna (DRR) who took time out from their busy schedule and contributed to our success. Event was concluded by Rtn. Janet (President Rotary Koramangala) and Rtr. Ravi Kumar (President RC Koramangala) who gave away winner prizes and shared vote of thanks to participants & volunteers.</p>
                        <p>~ Lastly, as decided, we would be utilizing the funds collected on the educational needs of Byragondlu village children.</p>
                    </div>
                    <div class="container linking-events">
                        <p><a href="/events/game-point-2016-2017/"><button class="btn btn_1 my-3"><strong>Game Point 2016-2017</strong></button></a></p>
<!--                        <p><a href="/events/game-point-2017-2018/"><button class="btn btn_1 my-3"><strong>Game Point 2017-2018</strong></button></a></p>-->
                        <p><a href="/events/game-point-2018-2019/"><button class="btn btn_1 my-3"><strong>Game Point 2018-2019</strong></button></a></p>
                    </div>
                <div class="photo-gallery">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Photo Gallery</h2>
                        </div>
                        <div class="row photos justify-content-center">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/game-point-v2-0/001.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/game-point-v2-0/001.jpg" alt="Rotaract Koramangala Bengaluru GAME POINT v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/game-point-v2-0/002.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/game-point-v2-0/002.jpg" alt="Rotaract Koramangala Bengaluru GAME POINT v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/game-point-v2-0/003.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/game-point-v2-0/003.jpg" alt="Rotaract Koramangala Bengaluru GAME POINT v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/game-point-v2-0/004.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/game-point-v2-0/004.jpg" alt="Rotaract Koramangala Bengaluru GAME POINT v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/game-point-v2-0/005.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/game-point-v2-0/005.jpg" alt="Rotaract Koramangala Bengaluru GAME POINT v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/game-point-v2-0/006.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/game-point-v2-0/006.jpg" alt="Rotaract Koramangala Bengaluru GAME POINT v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/game-point-v2-0/007.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/game-point-v2-0/007.jpg" alt="Rotaract Koramangala Bengaluru GAME POINT v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/game-point-v2-0/008.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/game-point-v2-0/008.jpg" alt="Rotaract Koramangala Bengaluru GAME POINT v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/game-point-v2-0/009.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/game-point-v2-0/009.jpg" alt="Rotaract Koramangala Bengaluru GAME POINT v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/game-point-v2-0/010.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/game-point-v2-0/010.jpg" alt="Rotaract Koramangala Bengaluru GAME POINT v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/game-point-v2-0/011.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/game-point-v2-0/011.jpg" alt="Rotaract Koramangala Bengaluru GAME POINT v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/game-point-v2-0/012.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/game-point-v2-0/012.jpg" alt="Rotaract Koramangala Bengaluru GAME POINT v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/game-point-v2-0/013.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/game-point-v2-0/013.jpg" alt="Rotaract Koramangala Bengaluru GAME POINT v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/game-point-v2-0/014.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/game-point-v2-0/014.jpg" alt="Rotaract Koramangala Bengaluru GAME POINT v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/game-point-v2-0/015.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/game-point-v2-0/015.jpg" alt="Rotaract Koramangala Bengaluru GAME POINT v2.0"></a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2017-2018.html %}
        </div>
    </section>