---
layout: default
permalink: /events/independence-day-school-visits/
title: Independence Day – School Visits | Rotaract Koramangala
image: /img/share-logo.png
---
   
    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
            {% for backlink in site.data.events-slide.y1718 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page aug">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content pl-4">
                        <h3 class="text-center">Independence Day – School Visits</h3>
                        <div class="project_details_widget row">
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-calendar"></span></p>
                                <h5 class="text-center">Date</h5>
                                <p class="text-center">15th August 2017</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-time"></span></p>
                                <h5 class="text-center">Time</h5>
                                <p class="text-center">NA</p>
                            </div>                            
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Venue</h5>
                                <p class="text-center">Franciscan School</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-face-smile"></span></p>
                                <h5 class="text-center">Attendees</h5>
                                <p class="text-center">13</p>
                            </div>
                        </div>
                        <h5>Club Attendees:</h5>
                        <p>Rtr. Ravi, Rtr. Bharath, Rtr. Rachel, Rtr. Anurag, Rtr. Vaishnavi, Rtr. Shubham, Rtr. Trisha and Rtr. Ratish</p>
                        <h4>Flow of Activities</h4>
                        <p>~ Rotaractors divided themselves in two teams, one composed of Rtr. Ravi, Rtr. Bharath, Rtr. Rachel, Rtr. Anurag and Rtr. Vaishnavi went to Franciscan School where team interacted with the school kids, spend time with them and distributed ladoos.</p>
                        <p>~ Rtr. Shubham, Rtr. Trisha and Rtr. Ratish went to Chembenahalli Govt Primary School where various cultural events, including dance, singing, speech were given by school kids reminding all of us sacrifices made by our freedom fighters. Mementos were present to all three Rotaractors for being part of the event.</p>
                    </div>
                <div class="photo-gallery">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Photo Gallery</h2>
                        </div>
                        <div class="row photos justify-content-center">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/independence-day-school-visits/001.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/independence-day-school-visits/001.jpg" alt="Rotaract Koramangala Bengaluru Independence Day – School Visits"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/independence-day-school-visits/002.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/independence-day-school-visits/002.jpg" alt="Rotaract Koramangala Bengaluru Independence Day – School Visits"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/independence-day-school-visits/003.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/independence-day-school-visits/003.jpg" alt="Rotaract Koramangala Bengaluru Independence Day – School Visits"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/independence-day-school-visits/004.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/independence-day-school-visits/004.jpg" alt="Rotaract Koramangala Bengaluru Independence Day – School Visits"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/independence-day-school-visits/005.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/independence-day-school-visits/005.jpg" alt="Rotaract Koramangala Bengaluru Independence Day – School Visits"></a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2017-2018.html %}
        </div>
    </section>