---
layout: default
permalink: /events/letter-to-our-soldiers-v2-0/
title: Letter to Our Soldiers v2.0 | Rotaract Koramangala
image: /img/share-logo.png
---
   
    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
            {% for backlink in site.data.events-slide.y1819 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page jan">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content pl-4">
                        <h3 class="text-center">Letter to Our Soldiers v2.0</h3>
                        <div class="project_details_widget row">
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-calendar"></span></p>
                                <h5 class="text-center">Date</h5>
                                <p class="text-center">20th Januray 2019 Onwards</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-time"></span></p>
                                <h5 class="text-center">Time</h5>
                                <p class="text-center">NA</p>
                            </div>                            
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Venue</h5>
                                <p class="text-center">Multiple locations</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-face-smile"></span></p>
                                <h5 class="text-center">Attendees</h5>
                                <p class="text-center">4500</p>
                            </div>
                        </div>
                        <h5>Attendees :</h5>
                        <p>Rtr. Bharath, Rtr. Sunil, Rtr. Ravi, Rtr. Shubham, Rtr. Sanjay, Rtr. Anurag, Rtr. Arun,  Rtr. Charan, Rtr. Ganesh, Rtr. Sowmya, Rtr. Giselle, Rtr. Gopal, Rtr. Navya, Rtr. Srinidhi, Rtr. Tejas, Rtr. Trisha, Rtr. Vasuki, Rtr. Arunima & Asha</p>
                        <h4>Flow of Activities</h4>
                        <p>~ Making the mark of our 70th republic day we decided to reach out to the common man, tell them about the life of our soldiers and to write a letter thanking them for all their service and sacrifices to us.</p>
                        <p>~ We got an opportunity to have a talk with many eminent personalities and got letters written from them. Few important ones were BBMP Mayor Gangambike, MLA Ramalingam Reddy, MLA Sowmya Reddy, BBMP Commissioner and many more We also got an opportunity to interact with many Rotary/Rotaract/Interact clubs across India who helped us with the project.</p> 
                        <p>~ Total Clubs/Organization - 35; Total Letters collected - 4500</p>
                        <p>~ 1) BET Convent (Bangalore), 2) Marnji Prathamic School, Pune, 3) Multiple Rotaract Clubs from Pune, 4) RaC Salem, 5) RaC of Tirunelveli(South), 6) RaC of GIT(Belagavi), 7) RaC of CTG(Odisha), 8) Nagarjuna Vidyaniketan, 9) Annanagar(Chennai), 10) RaC of Temple City, 11) RaC of MOP Vaishnav college. 12) Pooja's Team, Pune, 13) RaC of Vivekananda college, 14) RaC of Bishop cotton women's college, 15) RaC of Jalgoan 16) shantaniketan trust school, 17) Shantaniketan school, 18) RaC of Mysore, 19) RaC JNC, 20) RaC Baldwins Methodist College, 21) Teresian college, Mysore, 22) Surana College, 23) RaC spectrum, 24) Rotray Heritage, 25) Sneha Nilaya Orphanage, 26) Colorothon and walkathon (events) 27) Interact Deen's academy, 28) GFCT(Orphanage), 29) Greenland Public School, 30) RaC Banglore Junction, 31) RaC SBMJEC , 32) RaC Vidyanapura, 33) Interact Club of Vidhyaranyapura, 34) Interact Club Jeevanbimanagar 35) RaC of Mahajanar</p>
                        <p>~ THIS PROJECT WAS NOMINATED FOR RI “ROTARACT OUTSTANDING PROJECTS AWARDS” BY RaC KORAMANGALA FOR THE YEAR 2018 – 19 and it became part of exceptional group of service projects done this year.</p>
                    </div>
                <div class="photo-gallery">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Photo Gallery</h2>
                        </div>
                        <div class="row photos justify-content-center">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/letter-to-our-soldiers-v2-0/001.png" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/letter-to-our-soldiers-v2-0/001.png" alt="Rotaract Koramangala Bengaluru Letter to Our Soldiers v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/letter-to-our-soldiers-v2-0/002.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/letter-to-our-soldiers-v2-0/002.jpg" alt="Rotaract Koramangala Bengaluru Letter to Our Soldiers v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/letter-to-our-soldiers-v2-0/003.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/letter-to-our-soldiers-v2-0/003.jpg" alt="Rotaract Koramangala Bengaluru Letter to Our Soldiers v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/letter-to-our-soldiers-v2-0/004.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/letter-to-our-soldiers-v2-0/004.jpg" alt="Rotaract Koramangala Bengaluru Letter to Our Soldiers v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/letter-to-our-soldiers-v2-0/005.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/letter-to-our-soldiers-v2-0/005.jpg" alt="Rotaract Koramangala Bengaluru Letter to Our Soldiers v2.0"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/letter-to-our-soldiers-v2-0/006.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/letter-to-our-soldiers-v2-0/006.jpg" alt="Rotaract Koramangala Bengaluru Letter to Our Soldiers v2.0"></a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2018-2019.html %}
        </div>
    </section>