---
layout: default
permalink: /events/project-time-travel/
title: Time Travel | Rotaract Koramangala
image: /img/share-logo.png
---
   
    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
           {% for backlink in site.data.events-slide.y1920 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page gal-height" id="ueb-2">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content px-4 pb-5">
                        <h3 class="text-center">Time Travel</h3>
                        <div class="project_details_widget row justify-content-center">
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-calendar"></span></p>
                                <h5 class="text-center">Project Timeline</h5>
                                <p class="text-center">3 Months</p>
                            </div>
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-world"></span></p>
                                <h5 class="text-center">Continents Reached</h5>
                                <p class="text-center">6</p>
                            </div>
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-thumb-up"></span></p>
                                <h5 class="text-center">RI Districts Participated</h5>
                                <p class="text-center">23</p>
                            </div>                            
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-world"></span></p>
                                <h5 class="text-center">Countries Reached</h5>
                                <p class="text-center">14</p>
                            </div>
                        </div>
                        <div class="project_details_widget row justify-content-center">
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-thumb-up"></span></p>
                                <h5 class="text-center">Number of Rotaract & Rotary Clubs Participated</h5>
                                <p class="text-center">46</p>
                            </div>
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-user"></span></p>
                                <h5 class="text-center">Number of Participants </h5>
                                <p class="text-center">370+</p>
                            </div>
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-user"></span></p>
                                <h5 class="text-center">Number of Volunteers</h5>
                                <p class="text-center">12</p>
                            </div>                            
                            <div class="single_project_details_widget col-md col-6">
                                <p class="text-center"><span class="ti-time"></span></p>
                                <h5 class="text-center">Number of Volunteering Hours</h5>
                                <p class="text-center">740</p>
                            </div>
                        </div>
                        <hr>
<!--
                        <div class="py-5" id="ueb-1">
                            <p class="text-center">If you like our work, please support us by donating a pad
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#bleed-green">Donate ₹350 per pad</button>
                            </p>
                        </div>
                        <hr>
-->
                        <h3 class="text-center">Asia</h3>
                        <div class="project_details_widget row justify-content-center">
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center">
                                    <div class="single_project_details_widget col-lg-6 col-12">
                                        <p class="text-center"><span class="ti-world"></span></p>
                                        <h5 class="text-center">Countries Reached</h5>
                                        <hr>
                                        <p class="text-center">India</p>
                                        <p class="text-center">Malaysia</p>
                                        <p class="text-center">Sri Lanka</p>
                                    </div>
                                </div>
                                <p class="text-center"><span class="ti-thumb-up"></span></p>
                                <h5 class="text-center">RI Districts</h5>
                                <hr>
                                <div class="row justify-content-center">                                    
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center">RID 3300</p>
                                        <p class="text-center">RID 3232</p>
                                        <p class="text-center">RID 3190</p>
                                        <p class="text-center">RID 3141</p>
                                        <p class="text-center">RID 3060</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center">RID 3220</p>
                                        <p class="text-center">RID 3170</p>
                                        <p class="text-center">RID 3150</p>
                                        <p class="text-center">RID 3131</p>
                                        <p class="text-center">RID 3000</p>
                                    </div>
                                </div>
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Clubs Participated</h5>
                                <hr>
                                <div class="row justify-content-center">                                    
                                    <div class="single_project_details_widget col-lg-5 col-12">
                                       <ul>
                                           <li>RaC Sunway University</li>
                                           <li>RaC St. Joseph’s Autonomous College</li>
                                           <li>RaC Panjim</li>
                                           <li>RaC Venugram – Belgaum</li>
                                           <li>RaC Vasco da Gama</li>
                                           <li>RaC St. Peter’s Engineering College</li>
                                           <li>RaC Bhavnagar Youth</li>
                                           <li>RaC Holy Cross College</li>
                                           <li>RaC Madhurai North</li>
                                       </ul>
                                    </div>
                                    <div class="single_project_details_widget col-lg-5 col-12">
                                       <ul>
                                           <li>RaC Kelaniya</li>
                                           <li>RaC Guindy</li>
                                           <li>RaC Third Eye</li>
                                           <li>RaC Ghanshyamdas Saraf College</li>
                                           <li>RaC Pune Hillside</li>
                                           <li>RaC Singhad Academy of Engineering</li>
                                           <li>RaC SACS</li>
                                           <li>RaC Venkatesvara College, Pudukottai</li>
                                       </ul>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center photo-gallery">
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/project-time-travel/Asia1.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/Asia1.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/project-time-travel/Asia2.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/Asia2.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/project-time-travel/Asia3.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/Asia3.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/project-time-travel/Asia4.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/Asia4.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/project-time-travel/Asia5.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/Asia5.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/project-time-travel/Asia6.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/Asia6.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>
                                </div>
                            </div>                            
                        </div>                        
                        <hr>
                        <h3 class="text-center">Africa</h3>
                        <div class="project_details_widget row justify-content-center">
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center">
                                    <div class="single_project_details_widget col-lg-6 col-12">
                                        <p class="text-center"><span class="ti-world"></span></p>
                                        <h5 class="text-center">Countries Reached</h5>
                                        <hr>
                                        <p class="text-center">Nigeria</p>
                                        <p class="text-center">Tunisia</p>
                                        <p class="text-center">Uganda</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-6 col-6">
                                        <p class="text-center"><span class="ti-thumb-up"></span></p>
                                        <h5 class="text-center">RI Districts</h5>
                                        <hr>
                                        <p class="text-center">RID 9211</p>
                                        <p class="text-center">RID 9110</p>
                                        <p class="text-center">RID 9125</p>
                                        <p class="text-center">RID 9010</p>
                                    </div>                                    
                                </div>
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Clubs Participated</h5>
                                <hr>
                                <div class="row justify-content-center">                                    
                                    <div class="single_project_details_widget col-lg-5 col-12">
                                       <ul>
                                           <li>RaC Mulago School of Nursing and Midwifery</li>
                                           <li>RaC Makerere University</li>
                                           <li>RaC Kololo</li>
                                           <li>RaC Kampala Wandegeya</li>
                                           <li>RaC Kampala North Musicalla</li>
                                           <li>RaC Mulago</li>
                                           <li>RaC Université Centrale </li>
                                           <li>RaC Karu</li>                                           
                                       </ul>
                                    </div>
                                    <div class="single_project_details_widget col-lg-5 col-12">
                                       <ul>
                                           <li>RaC Federal University of Technology</li>
                                           <li>RaC Gboko Central</li>
                                           <li>RaC Abuja Federal</li>
                                           <li>RaC Maryland</li>
                                           <li>RaC OJODU Ambassadors</li>
                                           <li>RaC Ikeja GRA</li>
                                           <li>RaC Iju-Ishaga </li>
                                           <li>RaC Egbeda</li>
                                           <li>RaC Akowonjo</li> 
                                       </ul>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center photo-gallery">
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/project-time-travel/Africa1.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/Africa1.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/project-time-travel/Africa2.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/Africa2.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/project-time-travel/Africa3.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/Africa3.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/project-time-travel/Africa4.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/Africa4.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/project-time-travel/Africa5.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/Africa5.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>                                    
                                </div>
                            </div>                            
                        </div>
                        <hr>
                        <h3 class="text-center">Australia / Oceania</h3>
                        <div class="project_details_widget row justify-content-center">
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center">
                                    <div class="single_project_details_widget col-lg-6 col-12">
                                        <p class="text-center"><span class="ti-world"></span></p>
                                        <h5 class="text-center">Country</h5>
                                        <hr>
                                        <p class="text-center">Australia</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-6 col-6">
                                        <p class="text-center"><span class="ti-thumb-up"></span></p>
                                        <h5 class="text-center">RI District</h5>
                                        <hr>
                                        <p class="text-center">RID 9685</p>
                                    </div>                                    
                                </div>
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Club Participated</h5>
                                <hr>
                                <div class="row justify-content-center">                                    
                                    <div class="single_project_details_widget col-lg-6 col-12">
                                        <p class="text-center">The Hills Rotaract Club</p>                                
                                    </div>  
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center photo-gallery">
                                    <div class="col-lg-10 col-12 item"><a href="/img/events/project-time-travel/Australia.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/Australia.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>                                 
                                </div>
                            </div>                            
                        </div>
                        <hr>
                        <h3 class="text-center">Europe</h3>
                        <div class="project_details_widget row justify-content-center">
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center">
                                    <div class="single_project_details_widget col-lg-6 col-12">
                                        <p class="text-center"><span class="ti-world"></span></p>
                                        <h5 class="text-center">Country</h5>
                                        <hr>
                                        <p class="text-center">Bulgaria</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-6 col-6">
                                        <p class="text-center"><span class="ti-thumb-up"></span></p>
                                        <h5 class="text-center">RI District</h5>
                                        <hr>
                                        <p class="text-center">RID 2482</p>
                                    </div>                                    
                                </div>
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Club Participated</h5>
                                <hr>
                                <div class="row justify-content-center">                                    
                                    <div class="single_project_details_widget col-lg-6 col-12">
                                        <p class="text-center">RaC Sofia</p>                                
                                    </div>  
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center photo-gallery">
                                    <div class="col-lg-10 col-12 item"><a href="/img/events/project-time-travel/Europe.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/Europe.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>                                 
                                </div>
                            </div>                            
                        </div>
                        <hr>
                        <h3 class="text-center">North America</h3>
                        <div class="project_details_widget row justify-content-center">
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center">
                                    <div class="single_project_details_widget col-lg-6 col-12">
                                        <p class="text-center"><span class="ti-world"></span></p>
                                        <h5 class="text-center">Countries Reached</h5>
                                        <hr>
                                        <p class="text-center">Mexico</p>
                                        <p class="text-center">Guatemala</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-6 col-6">
                                        <p class="text-center"><span class="ti-thumb-up"></span></p>
                                        <h5 class="text-center">RI Districts</h5>
                                        <hr>
                                        <p class="text-center">RID 4130</p>
                                        <p class="text-center">RID 4250</p>
                                    </div>                                    
                                </div>
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Clubs Participated</h5>
                                <hr>
                                <div class="row justify-content-center">                                    
                                    <div class="single_project_details_widget col-lg-6 col-12">
                                      <p class="text-center">RaC Líderes Potosinos</p>
                                      <p class="text-center">RaC Guatemala de la Asuncion</p>                                       
                                    </div>                                                                      
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center photo-gallery">
                                    <div class="col-lg-10 col-12 item"><a href="/img/events/project-time-travel/North-America1.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/North-America1.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>
                                    <div class="col-lg-10 col-12 item"><a href="/img/events/project-time-travel/North-America2.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/North-America2.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>
                                </div>
                            </div>                            
                        </div>
                        <hr>
                        <h3 class="text-center">South America</h3>
                        <div class="project_details_widget row justify-content-center">
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center">
                                    <div class="single_project_details_widget col-lg-6 col-12">
                                        <p class="text-center"><span class="ti-world"></span></p>
                                        <h5 class="text-center">Countries Reached</h5>
                                        <hr>
                                        <p class="text-center">Brazil</p>
                                        <p class="text-center">Bolivia</p>
                                        <p class="text-center">Guyana</p>
                                        <p class="text-center">Paraguay</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-6 col-6">
                                        <p class="text-center"><span class="ti-thumb-up"></span></p>
                                        <h5 class="text-center">RI Districts</h5>
                                        <hr>
                                        <p class="text-center">RID 4470</p>
                                        <p class="text-center">RID 4590</p>
                                        <p class="text-center">RID 4690</p>
                                        <p class="text-center">RID 7030</p>
                                    </div>                                    
                                </div>
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Clubs Participated</h5>
                                <hr>
                                <div class="row justify-content-center">                                    
                                    <div class="single_project_details_widget col-lg-5 col-12">
                                       <ul>
                                           <li>RaC Ponta Porã  – Pedro Juan Cabellero</li>
                                           <li>Rotary Club of Ponta Porã  - Pedro Juan Cabellero – Guarani</li>
                                           <li>RaC Jundiaí Terra da Uva</li>
                                       </ul>
                                    </div>
                                    <div class="single_project_details_widget col-lg-5 col-12">
                                       <ul>
                                           <li>RaC Bauru City</li>
                                           <li>RaC Cochabamba</li>
                                           <li>RaC Equipatrol</li>
                                           <li>RaC New Amsterdam</li>
                                       </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center photo-gallery">
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/project-time-travel/South-America1.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/South-America1.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/project-time-travel/South-America2.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/South-America2.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/project-time-travel/South-America3.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/project-time-travel/South-America3.jpg" alt="Rotaract Koramangala Bengaluru Time Travel"></a></div>
                                </div>
                            </div>                            
                        </div>
<!--
                        <hr>
                        <div class="py-5" id="ueb-1">
                            <p class="text-center">If you like our work, please support us by donating a pad
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#bleed-green">Donate ₹350 per Pad</button>
                            </p>
                        </div>
                        <hr>
-->
                    </div>                
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2019-2020.html %}
        </div>
    </section>