---
layout: default
permalink: /events/puzzle-pieces-home/
title: Puzzle Pieces | Rotaract Koramangala
image: /img/share-logo.png
---
   
    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
           {% for backlink in site.data.events-slide.y2024 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page" id="ueb-1">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content px-4">
                        <h3 class="text-center">Puzzle Pieces</h3>
                        <hr>
                        <h3 class="text-center">EP 1</h3>
                        <div class="project_details_widget row justify-content-center">
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center">
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-calendar"></span></p>
                                        <h5 class="text-center">Date</h5>
                                        <p class="text-center">16 July 2023</p>
                                    </div>
                                    <div class="single_project_details_widget col-md col-6">
                                        <p class="text-center"><span class="ti-user"></span></p>
                                        <h5 class="text-center">Total number of Volunteers</h5>
                                        <p class="text-center">2</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-time"></span></p>
                                        <h5 class="text-center">Voluteering Hours</h5>
                                        <p class="text-center">27 Hours</p>
                                    </div>                            
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-location-pin"></span></p>
                                        <h5 class="text-center">Location</h5>
                                        <p class="text-center">Need Base India</p>
                                    </div>
                                    <div class="single_project_details_widget col-lg-4 col-6">
                                        <p class="text-center"><span class="ti-user"></span></p>
                                        <h5 class="text-center">Number of Attendees</h5>
                                        <p class="text-center">8</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="row justify-content-center photo-gallery">
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/puzzle-pieces/ep1.jpeg" data-lightbox="photos"><img style="height: 200px;" class="img-fluid" src="/img/events/puzzle-pieces/ep1.jpeg" alt="Rotaract Koramangala Bengaluru EP 1"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/puzzle-pieces/ep2.jpeg" data-lightbox="photos"><img style="height: 200px;" class="img-fluid" src="/img/events/puzzle-pieces/ep2.jpeg" alt="Rotaract Koramangala Bengaluru EP 1"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/puzzle-pieces/ep3.jpeg" data-lightbox="photos"><img style="height: 200px;" class="img-fluid" src="/img/events/puzzle-pieces/ep3.jpeg" alt="Rotaract Koramangala Bengaluru EP 1"></a></div>
                                    <div class="col-lg-6 col-12 item"><a href="/img/events/puzzle-pieces/ep4.jpeg" data-lightbox="photos"><img style="height: 200px;" class="img-fluid" src="/img/events/puzzle-pieces/ep4.jpeg" alt="Rotaract Koramangala Bengaluru EP 1"></a></div>
                                </div>
                            </div>                            
                        </div>                        
                        <hr>
                    </div>                
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2019-2020.html %}
        </div>
    </section>