---
layout: default
permalink: /events/rck-club-outing-cleanliness-drive/
title: RCK Club Outing & Cleanliness Drive | Rotaract Koramangala
image: /img/share-logo.png
---
   
    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
            {% for backlink in site.data.events-slide.y1718 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page oct">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content pl-4">
                        <h3 class="text-center">RCK Club Outing & Cleanliness Drive</h3>
                        <div class="project_details_widget row">
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-calendar"></span></p>
                                <h5 class="text-center">Date</h5>
                                <p class="text-center">29th Otober 2017</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-time"></span></p>
                                <h5 class="text-center">Time</h5>
                                <p class="text-center">NA</p>
                            </div>                            
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Venue</h5>
                                <p class="text-center">Savandurga Hills</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-face-smile"></span></p>
                                <h5 class="text-center">Attendees</h5>
                                <p class="text-center">16</p>
                            </div>
                        </div>
                        <h5>Club Attendees:</h5>
                        <p>Rtr. Ravi (Red Panda), Rtr. Shubham (Scorpion), Rtr. Bharath (Bat), Rtr. Sunil (Spider), Rtr. Santosh (Snake), Rtr. Fred (Fox), Rtr. Pallavi (Parrot), Rtr. Charan (Cheetah), Rtr. Shruthi R (Snail), Rtr. Anjum (Antelope), Rtr. Megha (Mongoose), Rtr. Rajesh (Rabbit), Rtr. Pooja Jain (Parakeet), Rtr. Pooja Kamath (Piranha), Rtr. Lavina (Lion), Rtr. Ashwini (Anaconda)</p>
                        <h4>Flow of Activities</h4>
                        <p>~ After successfully participating/completing various Rotaract Projects in all avenues, we decided to relax and have fun. 16 RCKites started at 6AM toSavandurga Hills largest monolith hills in Asia (1226m). We started with Ice Breakers (Name Game and Intro), followed by Trekking. We had few stops in between to rest which had Team Building Activities like Dumb Charades and Human Knot.</p>
                        <p>~ Later we divided ourselves into 4 teams of 4 and conducted a Cleaniless drive for around an hour. By the end of the activity we were able to collect 10 bags of plastic n paper waste. We were also appreciated by other people for our good deed. The funny part was that we were climbing down the hill carrying the filled garbage bags.</p>
                        <p>~ Together we celebrated a few hours with our Rotaractors in a whole new atmosphere!!</p>
                    </div>
                <div class="photo-gallery">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Photo Gallery</h2>
                        </div>
                        <div class="row photos justify-content-center">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/rck-club-outing-cleanliness-drive/001.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/rck-club-outing-cleanliness-drive/001.jpg" alt="Rotaract Koramangala Bengaluru RCK Club Outing & Cleanliness Drive"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/rck-club-outing-cleanliness-drive/002.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/rck-club-outing-cleanliness-drive/002.jpg" alt="Rotaract Koramangala Bengaluru RCK Club Outing & Cleanliness Drive"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/rck-club-outing-cleanliness-drive/003.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/rck-club-outing-cleanliness-drive/003.jpg" alt="Rotaract Koramangala Bengaluru RCK Club Outing & Cleanliness Drive"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/rck-club-outing-cleanliness-drive/004.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/rck-club-outing-cleanliness-drive/004.jpg" alt="Rotaract Koramangala Bengaluru RCK Club Outing & Cleanliness Drive"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2017-2018/rck-club-outing-cleanliness-drive/005.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2017-2018/rck-club-outing-cleanliness-drive/005.jpg" alt="Rotaract Koramangala Bengaluru RCK Club Outing & Cleanliness Drive"></a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2017-2018.html %}
        </div>
    </section>