---
layout: default
permalink: /events/spoken-kannada-learning-program/
title: Spoken Kannada Learning Program | Rotaract Koramangala
image: /img/share-logo.png
---
   
    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
            {% for backlink in site.data.events-slide.y1819 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page nov">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content pl-4">
                        <h3 class="text-center">Spoken Kannada Learning Program</h3>
                        <div class="project_details_widget row">
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-calendar"></span></p>
                                <h5 class="text-center">Date</h5>
                                <p class="text-center">Nov & Dec 2018</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-time"></span></p>
                                <h5 class="text-center">Time</h5>
                                <p class="text-center">NA</p>
                            </div>                            
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Venue</h5>
                                <p class="text-center">Online & 4 Sessions</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-face-smile"></span></p>
                                <h5 class="text-center">Attendees</h5>
                                <p class="text-center">120</p>
                            </div>
                        </div>
                        <h5>Club Attendees :</h5>
                        <p>Rtr. Bharath, Rtr. Sunil, Rtr. Ravi, Rtr. Shubham, Rtr. Sanjay, Rtr. Anurag, Rtr. Arun, Rtr. Vasuki, Rtr. Kailash, Rtr. Tejas, Rtr. Divya, Rtr. Anjum, Rtr. Srinidhi, Rtr. Ashwini, Rtr. Rachel, Rtr. Navya, Rtr. Santosh, Rtr. Charan, Rtr. Sowmya, Rtr. Monisha, Rtr. ArunimaProspective – Jyoti, Giselle, Mahima</p>
                        <h4>Flow of Activities</h4>
                        <p>~ Classes conducted – 4; Number of attendees - 40</p>
                        <p>~ Venue Partners - RaC SBMJEC, RaC JNC, RaC SSMRV, RaC Surana College</p>
                        <p>~ Trainers - Ms UMA (Professional Trainer for all from "SPEAKENG INDIA")</p>
                        <p>~ Rotaract Trainers - ZRR Krishnarjun, IPDRR Naveen Senna, Rtr. PP Sunil</p>
                        <p>~ The program has been really perceived by the people and many Non-Kannadigas has shown their interest. There is some inconsistency in participation as people have other commitments, however we are happy, and few learners are active throughout and have learned the language. Few can speak, and few are now getting the context which make them feel more connected to the language.</p>
                        <p>~ Online Initiative - 8 WhatsApp groups ; No. of Participants - 80 </p>
                        <p>~ Every group has been assigned with Mentors & Observers.</p>
                        <p>~ We have received a great response from the people around for the catchy posts. We are glad about collaboration from many Rotaract clubs here which is working as an encouragement for all involved.</p>
                        <p>~ Sponsors - Speakeng India for Ms. UMA and Mr Manoj for 100 hand books on "Learn Kannada in 25 Days" which are given to all the participants attending.</p>
                    </div>
                <div class="photo-gallery">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Photo Gallery</h2>
                        </div>
                        <div class="row photos justify-content-center">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/spoken-kannada-learning-program/001.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/spoken-kannada-learning-program/001.jpg" alt="Rotaract Koramangala Bengaluru Spoken Kannada Learning Program"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/spoken-kannada-learning-program/002.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/spoken-kannada-learning-program/002.jpg" alt="Rotaract Koramangala Bengaluru Spoken Kannada Learning Program"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/spoken-kannada-learning-program/003.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/spoken-kannada-learning-program/003.jpg" alt="Rotaract Koramangala Bengaluru Spoken Kannada Learning Program"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/spoken-kannada-learning-program/004.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/spoken-kannada-learning-program/004.jpg" alt="Rotaract Koramangala Bengaluru Spoken Kannada Learning Program"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/spoken-kannada-learning-program/005.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/spoken-kannada-learning-program/005.jpg" alt="Rotaract Koramangala Bengaluru Spoken Kannada Learning Program"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/spoken-kannada-learning-program/006.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/spoken-kannada-learning-program/006.jpg" alt="Rotaract Koramangala Bengaluru Spoken Kannada Learning Program"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/spoken-kannada-learning-program/007.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/spoken-kannada-learning-program/007.jpg" alt="Rotaract Koramangala Bengaluru Spoken Kannada Learning Program"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/spoken-kannada-learning-program/008.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/spoken-kannada-learning-program/008.jpg" alt="Rotaract Koramangala Bengaluru Spoken Kannada Learning Program"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/spoken-kannada-learning-program/009.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/spoken-kannada-learning-program/009.jpg" alt="Rotaract Koramangala Bengaluru Spoken Kannada Learning Program"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/spoken-kannada-learning-program/010.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/spoken-kannada-learning-program/010.jpg" alt="Rotaract Koramangala Bengaluru Spoken Kannada Learning Program"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/spoken-kannada-learning-program/011.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/spoken-kannada-learning-program/011.jpg" alt="Rotaract Koramangala Bengaluru Spoken Kannada Learning Program"></a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2018-2019.html %}
        </div>
    </section>