---
layout: default
permalink: /events/train-the-trainer/
title: WinS and MHM Program | Rotaract Koramangala
image: /img/share-logo.png
---
   
    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
            {% for backlink in site.data.events-slide.y1920 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page feb">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content pl-4">
                        <h3 class="text-center">Train the Trainer</h3>
                        <div class="project_details_widget row">
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-calendar"></span></p>
                                <h5 class="text-center">Date</h5>
                                <p class="text-center">23rd February 2020</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-time"></span></p>
                                <h5 class="text-center">Time</h5>
                                <p class="text-center">05:00 PM to 06:00 PM</p>
                            </div>                            
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Venue</h5>
                                <p class="text-center">Koramangala</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-face-smile"></span></p>
                                <h5 class="text-center">Attendees</h5>
                                <p class="text-center">5</p>
                            </div>
                        </div>
                        <h4>Event Details: 📑</h4>
                        <p>🔹Introduction of members and brief view about Bleed Green, WinS & MHM program . 🙌🏽🏽🏽</p>
                        <p>🧽 Wash in Schools Program - a brief about how to conduct the program, the importance of following proper hygiene habits which was followed by a demonstration of correct way of hand washing and wins kit . 🧴✋🏼🧼</p>
                        <p>🔹Train the Trainer Session on Menstrual Hygiene and Sustainable Menstruation and demonstrated how to use a Cloth Pad and Menstrual Cups. 🌸</p>
                        <p>🔹 Also had a short discussion about sharing experience regarding cloth pads, Menstrual cups and how Bleed Green 🌿 🔴 🌿 Session helps girls to overcome menstrual problems.</p>                        
                    </div>
                <div class="photo-gallery">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Photo Gallery</h2>
                        </div>
                        <div class="row photos">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/train-the-trainer/001.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/train-the-trainer/001.jpg" alt="Rotaract Koramangala Bengaluru Train the Trainer"></a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2019-2020.html %}
        </div>
    </section>