---
layout: default
permalink: /events/visit-to-gfct-orphanage/
title: Visit to GFCT Orphanage | Rotaract Koramangala
image: /img/share-logo.png
---
   
    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
            {% for backlink in site.data.events-slide.y1819 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page jan">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content pl-4">
                        <h3 class="text-center">Visit to GFCT Orphanage</h3>
                        <div class="project_details_widget row">
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-calendar"></span></p>
                                <h5 class="text-center">Date</h5>
                                <p class="text-center">27th January 2019 </p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-time"></span></p>
                                <h5 class="text-center">Time</h5>
                                <p class="text-center">NA</p>
                            </div>                            
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Venue</h5>
                                <p class="text-center">GFCT Sarjapur</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-face-smile"></span></p>
                                <h5 class="text-center">Attendees</h5>
                                <p class="text-center">05</p>
                            </div>
                        </div>
                        <h5>Attendees :</h5>
                        <p>Rtr. Bharath, Rtr. Shubham, Rtr. Anurag, Rtr. Navya & Rtr. Sowmya</p>
                        <h4>Flow of Activities</h4>
                        <p>~ GFCT – Grace Fellowship Charitable Trust is an orphanage which supports 120 kids. The orphanage takes care of the kid’s education and very minimum needs. It runs mainly on donations. The infrastructure of the orphanage is also bare minimum.</p>
                        <p>~ This was our third visit to the orphanage and we decided to engage more with kids this time. We divided them into teams and make them perform skit in the very basic topics about our country. Everyone was very motivated to do their part of the country. </p> 
                        <p>~ Lastly we briefed everyone importance of our Soldiers and make them write letters to for their Guardians.</p>
                    </div>
                <div class="photo-gallery">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Photo Gallery</h2>
                        </div>
                        <div class="row photos justify-content-center">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/visit-to-gfct-orphanage/001.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/visit-to-gfct-orphanage/001.jpg" alt="Rotaract Koramangala Bengaluru Visit to GFCT Orphanage"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/visit-to-gfct-orphanage/002.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/visit-to-gfct-orphanage/002.jpg" alt="Rotaract Koramangala Bengaluru Visit to GFCT Orphanage"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/2018-2019/visit-to-gfct-orphanage/003.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/2018-2019/visit-to-gfct-orphanage/003.jpg" alt="Rotaract Koramangala Bengaluru Visit to GFCT Orphanage"></a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2018-2019.html %}
        </div>
    </section>