---
layout: default
permalink: /events/world-water-day-2020/
title: World Water Day Session-15 | Rotaract Koramangala
image: /img/share-logo.png
---
   
    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
            {% for backlink in site.data.events-slide.y1920 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page mar">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content pl-4">
                        <h3 class="text-center">World Water Day</h3>
                        <div class="project_details_widget row">
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-calendar"></span></p>
                                <h5 class="text-center">Date</h5>
                                <p class="text-center">22 to 26 March 2020</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-time"></span></p>
                                <h5 class="text-center">Time</h5>
                                <p class="text-center">NA</p>
                            </div>                            
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Venue</h5>
                                <p class="text-center">Online</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-face-smile"></span></p>
                                <h5 class="text-center">Attendees</h5>
                                <p class="text-center">50+</p>
                            </div>
                        </div>
                        <h4>Rotaract Clubs and organizations : </h4>
                        <p>~SEARICMDIO</p>
                        <h5>District 3190</h5>
                        <p>~ RaC Bangalore West </p>
                        <p>~ RaC BGSSAP </p>
                        <p>~ RaC Bangalore Indiranagar</p>
                        <p>~ RaC CB Zeal</p>
                        <p>~ RaC SBMJC</p>
                        <h5>Other Districts</h5>
                        <p>~ Rotaract Club of CIT, RI Dist 3181</p>
                        <p>~ Rotaract Club of Pune Hillside, RI Dist 3131</p>
                        <p>~ Rotaract Club of Colombo Midtown, RI Dist 3220</p>
                        <h4>Flow of Activities</h4>
                        <p>~ We Rotaract Club of Koramangala organised a Social Media Campaign on World Water Day to increase awareness about water conservation. </p>
                        <p>~ We prepared a creative to be shared by all participants and nominees</p>
                        <p>~ The creative included a few water conservation tips to follow in everyday life</p>
                        <p>~ Each participant took a pledge to conserve water & tagged 3/more friends to do the same</p>
                        <hr>
                        <h4>Project Highlights :</h4>
                        <p>~ We were featured on SEARIC Instagram stories.</p>
                        <p>~ Our project is on UN's World Water Day website: <a href="https://www.worldwaterday.org/event/every-drop-counts-3/" target="_blank">https://www.worldwaterday.org/event/every-drop-counts-3/</a></p>
                        
                    </div>
                <div class="photo-gallery">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Photo Gallery</h2>
                        </div>
                        <div class="row photos justify-content-center">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/world-water-day-2020/001.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/world-water-day-2020/001.jpg" alt="Rotaract Koramangala Bengaluru World Water Day"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/world-water-day-2020/002.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/world-water-day-2020/002.jpg" alt="Rotaract Koramangala Bengaluru World Water Day"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/world-water-day-2020/003.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/world-water-day-2020/003.jpg" alt="Rotaract Koramangala Bengaluru World Water Day"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/world-water-day-2020/004.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/world-water-day-2020/004.jpg" alt="Rotaract Koramangala Bengaluru World Water Day"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/world-water-day-2020/005.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/world-water-day-2020/005.jpg" alt="Rotaract Koramangala Bengaluru World Water Day"></a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2019-2020.html %}
        </div>
    </section>