---
layout: default
permalink: /events/zonal-meet/
title: Zonal Meet | Rotaract Koramangala
image: /img/share-logo.png
---

    <!-- project_details part start -->
    <section class="project_details ">
        <div class="container">
            {% for backlink in site.data.events-slide.y1920 %}
                <a href="{{ backlink.link }}"><button class="btn btn_1 mb-2"><i class="ti-back-left"></i> Back to Events Page</button></a>
            {% endfor %}
            <div class="row justify-content-center single-event-page sep">
                <div class="col-lg-12 col-sm-12">
                    <div class="project_details_content pl-4">
                        <h3 class="text-center">Zonal Meet</h3>
                        <div class="project_details_widget row">
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-calendar"></span></p>
                                <h5 class="text-center">Date</h5>
                                <p class="text-center">1st September 2019</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-time"></span></p>
                                <h5 class="text-center">Time</h5>
                                <p class="text-center">09:00 AM to 11:00 AM</p>
                            </div>                            
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-location-pin"></span></p>
                                <h5 class="text-center">Venue</h5>
                                <p class="text-center">Cubbon Park</p>
                            </div>
                            <div class="single_project_details_widget col-lg-3 col-6">
                                <p class="text-center"><span class="ti-face-smile"></span></p>
                                <h5 class="text-center">Attendees</h5>
                                <p class="text-center">8</p>
                            </div>
                        </div>
                        <h4>Details of the event</h4>
                        <p>~ We started with an introduction session of all the 11 clubs, their respective members and the ZRR & Co-ZRR. 🤘</p>
                        <p>~ The first activity was an icebreaker Bingo game that enabled all the members from different clubs to get to know each other in a very fun and interactive manner. 👯🏻‍♂👯🏼</p>
                        <p>~ Next few activities were competitive games against the other clubs where we learned to work together as a team and had loads of fun. 🤼‍♂🤼‍♀</p>
                        <p>~ The activities were followed by announcing the winners of all the games and club announcements. 🏆</p>                     
                        <p>~ We also had some fellowship and discussions about future activities & joint projects with all the clubs that had attended and made a few new friends along the way. 🤝</p>   
                        <p>~ The event was followed by breakfast organised by RaC Koramangala and a general club discussion about future projects. 🍽</p>
                    </div>
                <div class="photo-gallery">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Photo Gallery</h2>
                        </div>
                        <div class="row photos">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/zonal-meet/001.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/zonal-meet/001.jpg" alt="Rotaract Koramangala Bengaluru Zonal Meet"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/zonal-meet/002.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/zonal-meet/002.jpg" alt="Rotaract Koramangala Bengaluru Zonal Meet"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/zonal-meet/003.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/zonal-meet/003.jpg" alt="Rotaract Koramangala Bengaluru Zonal Meet"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/zonal-meet/004.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/zonal-meet/004.jpg" alt="Rotaract Koramangala Bengaluru Zonal Meet"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/zonal-meet/005.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/zonal-meet/005.jpg" alt="Rotaract Koramangala Bengaluru Zonal Meet"></a></div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/events/zonal-meet/006.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/events/zonal-meet/006.jpg" alt="Rotaract Koramangala Bengaluru Zonal Meet"></a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project_details part end -->

    <!-- blog_part start-->
    <section class=" section_padding single_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Other Events</h2>                        
                    </div>
                </div>
            </div>
            {% include events-2019-2020.html %}
        </div>
    </section>
    <!-- blog_part start-->